{% extends "base.html" %}
{% load static %}

{% block main %}
    <section class="tender_section">
                <div class="container">
                    <h2 class="text-center title">Здесь молодожены ищут специалистов. Создано <span>{{tender_count}}</span> тендеров</h2>
                    <ul class="d-flex text-center justify-content-center">
                        <li><span>1.</span> Создавай объявления</li>
                        <li><span>2.</span> Получай предложения от специалистов</li>
                        <li><span>3.</span> Выбирай лучших</li>
                    </ul>
                    <p class="text">Тендеры помогают съкономить массу времени на поиски</p>

                    <div class="tender_list row align-items-center justify-content-center">
                        {% for tender in tenders %}
                            <div class="col-12 col-md-6 col-lg-4">
                               <a href="{% url 'tender:detail' tender.slug %}" class="tender_link">
                                <div class="tender_box">
                                    <div class="tender_info d-flex align-items-center justify-content-evenly">
                                        {% if tender.author.clientprofile.avatar %} <!--Если есть аватар у пользователя  -->
                                        <img src="{{ tender.author.clientprofile.avatar.url }}" alt="" class="">
                                        {% else %} <!--Дефолтный аватар  -->
                                        <img src="{% static 'media/images/header-background.jpg'%}" alt="" class="">
                                        {% endif %}
                                        <p class="tender_info-text">
                                            Нужен <br>
                                            <span class="tender_specialist">{{tender.get_service_display}}</span> <br>
                                            на {{tender.on_date}} <br>
                                            Бюджет: <span class="tender_budget">{{tender.budget}} сум</span>
                                        </p>
                                    </div>
                                    <p class="tender_customer text-start">{{tender.author}}</p>
                                    <p class="tender_description">{{tender.comment|truncatechars:50}}</p>
                                    <p class="tender_responses">Отклики: {{tender.responses.count}}</p>
                                </div>
                               </a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="tender_btns">
                        <a href="{% url 'tender:list' %}" class="btn__white">Смотреть тендеры</a>
                        <a href="{% url 'tender:create' %}" class="btn__gold">Создать тендер</a>
                    </div>
                </div>
            </section>

    <section class="welcome">
                <div class="container text-center">
                    <h2 class="welcome_title title">Добро пожаловать в мир T<span>O</span>YP<span>O</span>Y!</h2>
                    <a href="{% url 'account:registration' %}" class="btn__gold welcome_client-register">Регистрация молодоженов</a>

                    <h2 class="welcome_subtitle">Вы свадебный профессионал или фирма?</h2>
                    <a href="{% url 'promo' %}" class="welcome_spec-register">Как вам зарегистрироваться?</a>
                </div>
            </section>
{% endblock %}