{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block main %}
    <section class="planning_section">
        <div class="container">
            <h2 class="text-center title">{% trans "Подготовка к свадьбе шаг за шагом" %}</h2>
            <div class="planning">
                <ul class="planning_list">
                    <li class="planning_box">
                        <a href="{% url 'budget:budget_view' %}">
                            <span class="planning_icon"><i class="fad fa-calculator-alt"></i></span>
                            <p class="planning_title">{% trans "Онлайн калькулятор расходов" %}</p>
                            <p class="planning_descr">{% trans "Все расходы по полочкам" %}</p>
                        </a>
                    </li>
                    <li class="planning_box">
                        <a href="{% url 'plan:plan_list' %}">
                            <span class="planning_icon"><i class="fad fa-clipboard-list-check"></i></span>
                            <p class="planning_title">{% trans "План свадебного дня" %}</p>
                            <p class="planning_descr">{% trans "Детали и маршрут передвижения" %}</p>
                        </a>
                    </li>
                    <li class="planning_box">
                        <a href="{% url 'account:tenders' %}">
                            <span class="planning_icon"><i class="fad fa-handshake-alt"></i></span>
                            <p class="planning_title">{% trans "Мои тендеры" %}</p>
                            <p class="planning_descr">{% trans "Свадебные объявления от молодожёнов" %}</p>
                        </a>
                    </li>
                    <li class="planning_box">
                        <a href="{% url 'favorite:my_favorites' %}">
                            <span class="planning_icon"><i class="fad fa-users"></i></span>
                            <p class="planning_title">{% trans "Сохраненные специалисты" %}</p>
                            <p class="planning_descr">{% trans "Утверждённая команда ваших специалистов" %}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="tender_section">
                <div class="container">
                    <h2 class="text-center title">{% trans "Здесь молодожены ищут специалистов. Создано" %} <span>{{tender_count}}</span> {% trans "тендеров" %}</h2>
                    <ul class="d-flex text-center justify-content-center">
                        <li><span>1.</span> {% trans "Создавай объявления" %}</li>
                        <li><span>2.</span> {% trans "Получай предложения от специалистов" %}</li>
                        <li><span>3.</span> {% trans "Выбирай лучших" %}</li>
                    </ul>
                    <p class="text">{% trans "Тендеры помогают съкономить массу времени на поиски" %}</p>

                    <div class="tender_list row align-items-center justify-content-center">
                        {% for tender in tenders %}
                            <div class="col-12 col-md-6 col-lg-4">
                               <a href="{% url 'tender:detail' tender.slug %}" class="tender_link">
                                <div class="tender_box">
                                    <div class="tender_info d-flex align-items-center justify-content-evenly">
                                        {% if tender.author.clientprofile.avatar %} <!--Если есть аватар у пользователя  -->
                                        <img src="{{ tender.author.clientprofile.avatar.url }}" alt="" class="">
                                        {% else %} <!--Дефолтный аватар  -->
                                        <img src="{% static 'media/images/logo_v2.png'%}" alt="" class="">
                                        {% endif %}
                                        <p class="tender_info-text">
                                            {% trans "Нужен" %} <br>
                                            <span class="tender_specialist">{{tender.get_service_display}}</span> <br>
                                            {% trans "на" %} {{tender.on_date}} <br>
                                            {% trans "Бюджет" %}: <span class="tender_budget">{{tender.budget}} y.e.</span>
                                        </p>
                                    </div>
                                    <p class="tender_customer text-start">{{tender.author}}</p>
                                    <p class="tender_description">{{tender.comment|truncatechars:75}}</p>
                                    <p class="tender_responses">{% trans "Отклики" %}: {{tender.responses.count}}</p>
                                </div>
                               </a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="tender_btns">
                        <a href="{% url 'tender:list' %}" class="btn__white">{% trans "Смотреть тендеры" %}</a>
                        <a href="{% url 'tender:create' %}" class="btn__gold">{% trans "Создать тендер" %}</a>
                    </div>
                </div>
            </section>
            <section class="catalog_section">
                <div class="container">
                    <h2 class="text-center title">{% trans "Каталог услуг" %}</h2>
                <div class="catalog_box">
                    <div class="catalog_left">
                        <div class="catalog_top">
                            <div class="catalog_top_left">
                                <div class="catalog_wrapper">
                                    <div class="catalog_441">
                                        <div class="catalog_thumb">
                                            <span style="background: url({%static 'media/images/catalog_1.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                        </div>
                                        <div class="catalog_descr">
                                            <h3>{% trans "Фотографы" %}</h3>
                                        </div>
                                        <a href="{% url 'services:photographer_list' %}" class="catalog_hover">
                                            <h3>{% trans "Фотографы" %}</h3>
                                            <span>{% trans "Смотреть варианты" %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog_top_right">
                                <div class="catalog_top_right_top">
                                    <div class="catalog_wrapper">
                                        <div class="catalog_234">
                                            <div class="catalog_thumb">
                                                <span style="background: url({%static 'media/images/catalog_2.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                            </div>
                                            <div class="catalog_descr">
                                                <h3>{% trans "Видеографы" %}</h3>
                                            </div>
                                            <a href="{% url 'services:videographer_list' %}" class="catalog_hover">
                                                <h3>{% trans "Видеографы" %}</h3>
                                                <span>{% trans "Смотреть варианты" %}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog_top_right_bottom">
                                    <div class="catalog_wrapper">
                                        <div class="catalog_183">
                                            <div class="catalog_thumb">
                                                <span style="background: url({%static 'media/images/catalog_3.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                            </div>
                                            <div class="catalog_descr">
                                                <h3>{% trans "Рестораны" %}</h3>
                                            </div>
                                            <a href="{% url 'services:restaurant_list' %}" class="catalog_hover">
                                                <h3>{% trans "Рестораны" %}</h3>
                                                <span>{% trans "Смотреть варианты" %}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog_bottom">
                            <div class="catalog_wrapper">
                                <div class="catalog_209">
                                    <div class="catalog_thumb">
                                        <span style="background: url({%static 'media/images/catalog_9.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                    </div>
                                    <div class="catalog_descr">
                                        <h3>{% trans "Пригласительные" %}</h3>
                                    </div>
                                    <a href="{% url 'services:invitation_list' %}" class="catalog_hover">
                                        <h3>{% trans "Пригласительные" %}</h3>
                                        <span>{% trans "Смотреть варианты" %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog_right">
                        <div class="catalog_bottom">
                            <div class="catalog_wrapper">
                                <div class="catalog_268">
                                    <div class="catalog_thumb">
                                        <span style="background: url({%static 'media/images/catalog_7.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                    </div>
                                    <div class="catalog_descr">
                                        <h3>{% trans "Ведущие" %}</h3>
                                    </div>
                                    <a href="{% url 'services:presenter_list' %}" class="catalog_hover">
                                        <h3>{% trans "Ведущие" %}</h3>
                                        <span>{% trans "Смотреть варианты" %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog_top">
                            <div class="catalog_top_left">
                                <div class="catalog_wrapper">
                                    <div class="catalog_382">
                                        <div class="catalog_thumb">
                                            <span style="background: url({%static 'media/images/catalog_5.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                        </div>
                                        <div class="catalog_descr">
                                            <h3>{% trans "Транспорт" %}</h3>
                                        </div>
                                        <a href="{% url 'services:transport_list' %}" class="catalog_hover">
                                            <h3>{% trans "Транспорт" %}</h3>
                                            <span>Смотреть варианты</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog_top_right">
                                <div class="catalog_top_right_top">
                                    <div class="catalog_wrapper">
                                        <div class="catalog_198">
                                            <div class="catalog_thumb">
                                                <span style="background: url({%static 'media/images/catalog_10.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                            </div>
                                            <div class="catalog_descr">
                                                <h3>{% trans "Торты" %}</h3>
                                            </div>
                                            <a href="{% url 'services:cake_list' %}" class="catalog_hover">
                                                <h3>{% trans "Торты" %}</h3>
                                                <span>{% trans "Смотреть варианты" %}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog_top_right_bottom">
                                    <div class="catalog_wrapper">
                                        <div class="catalog_161">
                                            <div class="catalog_thumb">
                                                <span style="background: url({%static 'media/images/catalog_16.jpg'%})no-repeat center center /cover;" class="d-block w-100 h-100"></span>
                                            </div>
                                            <div class="catalog_descr">
                                                <h3>{% trans "Аксессуары" %}</h3>
                                            </div>
                                            <a href="{% url 'services:accessories_list' %}" class="catalog_hover">
                                                <h3>{% trans "Аксессуары" %}</h3>
                                                <span>{% trans "Смотреть варианты" %}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'catalog' %}" class="btn__gold">{% trans "Смотреть весь каталог" %}</a>
                </div>
            </section>
            <section class="welcome">
                <div class="container text-center">
                    <h2 class="welcome_title title">{% trans "Добро пожаловать в мир" %} T<span>O</span>YP<span>O</span>Y!</h2>
                    <p class="welcome_text">
                        {% trans "Мечтаешь о шикарной свадьбе? Хочешь, чтобы этот торжественный праздник стал для тебя самым незабываемым? Регистрируйся на сайте в поисках подбора лучших специалистов с живыми рейтингами и отзывами." %}
                    </p>

                    <h2 class="welcome_subtitle">{% trans "Регистрация молодожёнов" %}</h2>
                    <p class="welcome_text">
                        {% trans "Вы свадебный профессионал, фирма или просто мастер своего дела? Тогда Вам точно к нам. Отправьте запрос для регистрации на сайте, регистрируйтесь, размещайте и предлагайте свои услуги совершенно бесплатно. Зарабатывайте, участвуйте в тендерах, развивайтесь и повышайте свой профессионализм." %}
                    </p>
                    <a href="{% url 'account:registration' %}" class="btn__gold welcome_client-register">{% trans "Регистрация" %}</a>

                    <h2 class="welcome_subtitle">{% trans "Вы свадебный профессионал или фирма?" %}</h2>
                    <a href="{% url 'promo' %}" class="welcome_spec-register">{% trans "Как вам зарегистрироваться?" %}</a>
                </div>
            </section>
            <section class="about_section" id='About'>
                <div class="container">
                    <h2 class="text-center title">{% trans "О нас" %}</h2>
                    <div class="about">
                        <p class="welcome_text">
                            {% trans "TOYPOY.uz – это информационный свадебный портал, который содержит в себе множество сервисов для самостоятельной подготовки к одному из главных торжеств в вашей жизни – свадебной церемонии. Наш портал предоставляет для молодожён и специалистов свадебных услуг огромное свадебное пространство в организации своего праздника и поиска заказов не выходя из дома! Свадебный онлайн-планировщик, Планирование бюджета, поиск специалистов из Каталога услуг, Тендеры, Рейтинги и многое другое сделают подготовку к свадьбе максимально простой и понятной. " %}
                        </p>
                        <p class="welcome_text">
                            {% trans "TOYPOY.uz желает, чтобы каждая Ваша свадьба прошла сказочно и незабываемо. Регистрируйтесь и будьте с нами." %}
                        </p>
                    </div>
                </div>
            </section>
{% endblock %}