{% load i18n %}
<p class="write_review">{% trans "Написать отзыв" %}</p>
<form action="" class="review_form">
    <div class="review_wrapper">
        <textarea name="text" required=true></textarea>
        <ul class="rate_options">
            <li class="rate_option negative_rate" value='1'><i class="fad fa-frown"></i></li>
            <li class="rate_option neutral_rate" value='2'><i class="fad fa-meh"></i></li>
            <li class="rate_option positive_rate" value='3'><i class="fad fa-smile"></i></li>
        </ul>
    </div>
    {% if request.user.type == 'client' and not request.user.clientprofile.is_active %}
    <p class="write_review err">{% trans "Писать отзывы могут только пользователи с подтвержденной почтой" %}</p>
    {% else %}
    <button type="submit" class="form_confirm">
        {% trans "Отправить" %}
    </button>
    {% endif %}
</form>