{% extends 'tender_base.html' %}
{% load i18n %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/budget.css' %}">
{%endblock%}

{%block content%}
	<div id="Budget">
		<h1>Свадебный бюджет</h1>
		<div class="Budget_header">
			<div id="BudgetH1">
				<div class="d-flex align-items-center justify-content-start mb-3">
					{% if request.user.is_authenticated %}
					<a href="javascript:window.print();" id="print"><i class="fad fa-print"></i> <span>Печать</span></a>
					<button class="save"><i class="fad fa-save"></i> <span>Сохранить</span></button>
					{% else %}
					<a href="" id="print">Зарегистрируйтесь чтобы распечатать</a>
					<button class="">Зарегистрируйтесь чтобы сохранить</button>
					{% endif %}
				</div>
			</div>
			<div id="BudgetSum1">
				<p>Бюджет моей свадьбы <input type="text" value="{%if budget == None%}0{%else%}{{budget}}{%endif%}" id="BudgetI"></p>
				<p>Можно еще потратить <span id="BudgetRest">0</span></p>
			</div>
			<div id="BudgetSum2">
				<p class="BudgetSum2Bold">Общая сумма затрат <span id="BudgetSpending">-</span></p>
				<p>Уже оплачено <span id="BudgetPaid">-</span></p>
				<p>Осталось оплатить <span id="BudgetUnpaid">-</span></p>
			</div>
		</div>

		{% if request.user.is_authenticated %}
		<div id="BudgetTables">
			{% if not json%}
				{% include 'budget/default_budget.html' %}
			{% else %}
			{% for table in json %}
				<table rel="{{table.rel}}">
					<tr rel="{{table.rel}}">
						<th class="table_name" table_name="{{table.table_name}}">Образ невесты <span class="add"><i class="fad fa-plus"></i> пункт</span></th>
						<th>Стоимость</th>
						<th>Оплачено</th>
						<th>Остаток</th>
						<th>Заметки</th>
					</tr>
					{% for row in table.rows %}
						<tr rel="{{row.rel}}" data="{{row.data}}">
							<td class="row_name" row_name="{{row.name}}">
								<span class="del" rel="{{row.rel}}" title="удалить строку"><i class="fad fa-trash-alt"></i></span>
								{{row.name}}
							</td>
							<td><input type="text" min="0" name="" value="{{row.sum}}" class="brd sum noborder s" rel="{{row.rel}}"></td>
							<td><input type="text" min="0" name="" value="{{row.paid}}" class="brd paid noborder" rel="{{row.rel}}"></td>
							<td class="diff" rel="{{row.rel}}">{{row.diff}}</td>
							<td class="bgc">
								<div>
									<p class="descr_p" rel="{{row.descr_p.rel}}" data="{{row.descr_p.data}}">{{row.descr_p.text}}</p>
								</div>
							</td>
						</tr>
					{% endfor %}
					    <tr class="block_foot">
							<td>Всего</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
				</table>
			{% endfor %}
			{% endif %}
		</div>
		{% else %}
		{% include 'budget/default_budget.html' %}
		{% endif %}
	</div>
	<div class="DeleteBlock deals-popup mfp-hide" id="DeleteBlock">
		<p>Удалить строку?</p>
		<div class="DeleteBlock_answers d-flex align-items-center">
			<span id="Yes">Да</span>
			<span id="No">Нет</span>
		</div>
	</div>
{%endblock%}






{%block script%}

<!--<script src="{% static 'bootstrap/js/jquery.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	if({{last_rel}} == 0)var last_rel = 80
	else var last_rel = {{last_rel}}
	$(document).ready(function () {

	let income_budget = $('#BudgetI').attr('value');
	let norm_bidget = income_budget.replace(',', '.');
    $('#BudgetI').attr('value', norm_bidget);

    Calculate();

    //$( "#Budget tr" ).mouseenter(function() {
    $("body").on("mouseenter", "#Budget tr", function () {
        $("span.del").hide();
        $(this).find('span.del').show();
        $('input.brd').addClass('noborder');
        $(this).find('input.brd').removeClass('noborder');
    });

    $("body").on("focusin", "input.brd", function () {
        $(this).css('opacity', '1');
    });

    $("body").on("focusout", "input.brd", function () {
        if ($(this).val() == '0') $(this).css('opacity', '0.6');
    });

    $("body").on("focusout", "input.name", function () {
        $(this).css('border', '0');
    });

    $("body").on("change", "input.brd", function () {
        source_id = $(this).attr("rel");
        sum = $('input.sum[rel=' + source_id + ']').val();
        if (sum == '') {
            sum = 0;
            $('input.sum[rel=' + source_id + ']').val(sum);
        }
        paid = $('input.paid[rel=' + source_id + ']').val();
        if (paid == '') {
            paid = 0;
            $('input.paid[rel=' + source_id + ']').val(paid);
        }
        //
        descr = $('textarea.descr[rel=' + source_id + ']').val();
        if (!descr) {
            descr = $('p.descr_p[data=' + source_id + ']').attr('rel');
        }
        if (!descr) descr = '';
        //
        if (paid > 0 && sum == 0) {
            sum = paid;
            $('input.sum[rel=' + source_id + ']').val(paid);
        }
        if (sum == 0 && paid == 0)
            $('td[rel=' + source_id + ']').html('-');
        else
            $('td[rel=' + source_id + ']').html(sum - paid);
        Calculate();
    });

    //jQuery('input.brd').keyup(function () {
    $("body").on("keyup", "input.brd", function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
        $(this).css('opacity', '1');
    });

    $("body").on("click", "p.descr_p", function () {
        if ($('#txt_tmp').length > 0) {
            source_id_ = $('#txt_tmp').attr("rel");
            sum_ = $('input.sum[rel=' + source_id_ + ']').val();
            paid_ = $('input.paid[rel=' + source_id_ + ']').val();
            descr_ = $('textarea.descr[rel=' + source_id_ + ']').val();
            if (!descr_) {
                descr_ = $('p.descr_p[data=' + source_id_ + ']').attr('rel');
            }
            if (!descr_) descr_ = '';
            if (paid_ > 0 && sum_ == 0) {
                sum_ = paid_;
                $('input.sum[rel=' + source_id_ + ']').val(paid_);
            }

            if (sum_ == 0 && paid_ == 0)
                $('td[rel=' + source_id_ + ']').html('-');
            else
                $('td[rel=' + source_id_ + ']').html(sum_ - paid_);
            if (descr_.length > 60)
                var dscr_short_ = descr_.substr(0, 60) + '...<span class="more"></span>';
            else
                dscr_short_ = descr_;
            $("#txt_tmp").parents('td div').html('<p class="descr_p" rel="' + descr_ +
                '" data="' + source_id_ + '">' + dscr_short_ + '</p>');
            Calculate();

        } else {
            text = $(this).attr("rel");
            source_id = $(this).attr("data");
            $(this).parent('td div').html('<textarea id="txt_tmp" name="" class="descr" rel="' +
                source_id + '" placeholder="Новая заметка">' + text + '</textarea>');
            $('textarea.descr[rel=' + source_id + ']').height(1);
            $('textarea.descr[rel=' + source_id + ']').height(document.getElementById('txt_tmp')
                .scrollHeight - 20);
        }
    });

    $("body").on("keydown", "#txt_tmp", function () {
        $('#txt_tmp').height(document.getElementById('txt_tmp').scrollHeight - 20);
    });


    $("body").click(function (e) {
        if (!$(e.target).hasClass('descr') && !$(e.target).hasClass('more') && !$(e.target).hasClass(
                'descr_p')) {
            if ($("#txt_tmp").length > 0) {
                source_id = $("#txt_tmp").attr("rel");
                sum_ = $('input.sum[rel=' + source_id + ']').val();
                paid_ = $('input.paid[rel=' + source_id + ']').val();
                descr = $('#txt_tmp').val();

                if (descr.length > 60){
                    var dscr_short = descr.substr(0, 60) +
                    '...<span class="more"></span>';
                }
                else
                    dscr_short = descr;
                $("#txt_tmp").parents('td div').html('<p class="descr_p" rel="' + descr +
                    '" data="' + source_id + '">' + dscr_short + '</p>');
                Calculate();
            }
        }
    });

	$( "body" ).on("change", "textarea.descr",function() {
		source_id = $(this).attr("rel");
		descr = $('textarea.descr[rel='+source_id+']').val();
		sum = $('input.sum[rel='+source_id+']').val();
		paid = $('input.paid[rel='+source_id+']').val();
		descr = $('p[data='+source_id+']').attr('rel');

		Calculate();
	});

    $("body").on("change", "input.name", function () {
        source_id_ = $(this).attr("rel");
        sum_ = $('input.sum[rel=' + source_id_ + ']').val();
        paid_ = $('input.paid[rel=' + source_id_ + ']').val();
        name_ = $('input.name[rel=' + source_id_ + ']').val();
		$(this).parent('td').attr("row_name", $(this).val());
        if (sum_ == 0 && paid_ == 0)
            $('td[rel=' + source_id_ + ']').html('-');
        else
            $('td[rel=' + source_id_ + ']').html(sum_ - paid_);
            Calculate();
    });

    $("#BudgetI").change(function () {
        s = $(this).val();
        $('#BudgetRest').html(s-$('#BudgetSpending').val());
        Calculate();
    });
    $("body").on("keyup", "#BudgetI", function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
        $(this).css('opacity', '1');
    });


    $("#Budget tr span.add").click(function () {
        s = $(this);
        tr = $(this).parents("tr");
        parent_id = $(this).parents("table").attr('rel');
        s.parents("table").find('tr:first').after('<tr rel="' + last_rel + '" data="' +
            parent_id + '">' +
            '<td class="row_name"><span class="del" rel="' + last_rel +
            '" title="удалить строку"></span><input type="text" class="name"  rel="' +
            last_rel + '" /></td>' +
            '<td><input type="text" name="" value="0" class="brd sum noborder" rel="' +
            last_rel + '"></td>' +
            '<td><input type="text" name="" value="0" class="brd paid noborder" rel="' +
            last_rel + '"></td>' +
            '<td rel="' + last_rel + '">-</td>' +
            //'<td><textarea name="" class="descr" rel="'+last_rel+'"></textarea></td>'+
            '<td class="bgc"><div><p class="descr_p" rel="" data="' + last_rel + '"></p></div></td>' +
            '</tr>')
        Calculate();
        last_rel++;
        $('input[rel="' + last_rel + '"]:eq(0)').focus();

    });

    //$("input[type='text']").on("click", function () {
    $("body").on("click", "input[type='text']", function () {
        $(this).select();
    });

    $('body').on('click', 'span.del', function () {
    //    popup
        if($('.DeleteBlock').css('display') == 'none'){
            $('.DeleteBlock').css('display', 'flex');
            $('.DeleteBlock').css('top', window.pageYOffset);
            $('body').css('overflow', 'hidden');
        }
        else{
            $('.DeleteBlock').css('display', 'none');
            $('body').css('overflow', 'auto');
        }

        tr = $(this).parent("td").parent("tr");
        parent_id = tr.attr("data");
        source_id = $(this).attr("rel");
        $('#Yes').attr('rel', $(this).attr('rel'));
        $('#Yes').attr('data', source_id);
        $('#Yes').attr('data-rel', parent_id);
        $(this).attr('rel')
        return false;
    });

    $('span#Yes').on('click', function () {
        source_id = $('#Yes').attr('data');
        parent_id = $('#Yes').attr('data-rel');
        tr = $('tr[rel="' + source_id + '"]');
            tr.remove();
            if($('.DeleteBlock').css('display') == 'flex'){
                $('.DeleteBlock').css('display', 'none');
                $('body').css('overflow', 'auto');
            }
            Calculate();
        return false;
    });

    $('span#No').on('click', function () {
        if($('.DeleteBlock').css('display') == 'flex'){
            $('.DeleteBlock').css('display', 'none');
            $('body').css('overflow', 'auto');
        }
        return false;
    });

    $('.save').on('click', function (e) {
        e.preventDefault();
        SaveJSON();
        // SaveAll(); ajax post to save im db
    });

});

function SaveJSON() {
    let budget = $('#BudgetI').val();
	let float_budget = budget.replace(',', '.');
    let json = [];
    $("#BudgetTables table").each(function (index) {
        let obj = {};
        let rows = [];
        obj.rel = $(this).attr('rel');
        obj.table_name = $(this).find('.table_name').attr('table_name');
        $("tr", $(this)).each(function (index) {
			if($(this).hasClass('block_foot')) return;
            let object = {};
            if(index != 0){
                object.name = $(this).find('.row_name').attr('row_name');
                object.rel = $(this).attr('rel');
                object.data = $(this).attr('data');
                object.sum = $(this).find('.sum').length == 1 ? $(this).find('.sum').val() : 0;
                object.paid = $(this).find('.paid').length == 1 ? $(this).find('.paid').val() : 0;
                object.diff = $(this).find('.diff').length == 1 ? $(this).find('.diff').text() : '-';
                object.descr_p = {
                    'rel': $(this).find('.descr_p').attr('rel'),
                    'data': $(this).find('.descr_p').attr('data'),
                    'text': $(this).find('.descr_p').text(),
                };
            rows.push(object)
            }
        });
        obj.rows = rows;
        json.push(obj);
    });
    // console.log(json);
    // console.log(budget);
    // console.log(last_rel);
	$.ajax({
          method: "POST",
          url: "{% url 'budget:budget_save' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "json": JSON.stringify(json),
              "budget": float_budget,
              "last_rel": last_rel,
          },
          success: function(data) {
		  	console.log(data);
            if(data['success'])window.location.reload()
          },
          error: function(er) {
            console.log(er);
			console.log('22222');
          }
        });
}

function Calculate() {
    t_sum = 0;
    t_paid = 0;

    $("input.brd").each(function (index) {
        if ($(this).val() == 0) $(this).css('opacity', '0.6');
        else $(this).css('opacity', '1');
    });

    $("#BudgetTables table").each(function (index) {
        sum = 0;
        $("input.sum", $(this)).each(function (index) {
            sum = sum + parseFloat($(this).val());
        });

        paid = 0;
        $("input.paid", $(this)).each(function (index) {
            paid = paid + parseFloat($(this).val());
        });

        $(this).find(".block_foot td:eq(1)").text(sum);
        $(this).find(".block_foot td:eq(2)").text(paid);
        if (sum == 0 && paid == 0)
            r = '-';
        else
            r = sum - paid;
        $(this).find(".block_foot td:eq(3)").text(r);

        t_sum += sum;
        t_paid += paid;
    });


    $('#BudgetSpending').html(t_sum);
    $('#BudgetPaid').html(t_paid);
    $('#BudgetUnpaid').html(t_sum - t_paid);
    budget = parseFloat($('#BudgetI').val());

    $('#BudgetRest').html(budget - t_sum);
}
</script>
{%endblock%}