			<table rel="1">
				<tr rel="1">
					<th class="table_name" table_name="Образ невесты">Образ невесты <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="2" data="1">
					<td class="row_name" row_name="Свадебное платье">
						<span class="del" rel="2" title="удалить строку">x</span>
						Свадебное платье
					</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder s" rel="2"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="2"></td>
					<td class="diff" rel="2">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="2"></p>
						</div>
					</td>
				</tr>
				<tr rel="3" data="1">
					<td  class="row_name" row_name="Причёска"><span class="del" rel="3" title="удалить строку">x</span>Причёска</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="3"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="3"></td>
					<td class="diff" rel="3">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="3"></p>
						</div>
					</td>
				</tr>
				<tr rel="4" data="1">
					<td  class="row_name" row_name="Макияж"><span class="del" rel="4" title="удалить строку">x</span>Макияж</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="4"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="4"></td>
					<td rel="4">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="4"></p>
						</div>
					</td>
				</tr>
				<tr rel="5" data="1">
					<td  class="row_name" row_name="Маникюр/Педикюр"><span class="del" rel="5" title="удалить строку">x</span>Маникюр/педикюр</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="5"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="5"></td>
					<td rel="5">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="5"></p>
						</div>
					</td>
				</tr>
				<tr rel="6" data="1">
					<td  class="row_name" row_name="Фата"><span class="del" rel="6" title="удалить строку">x</span>Фата</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="6"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="6"></td>
					<td rel="6">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="6"></p>
						</div>
					</td>
				</tr>
				<tr rel="7" data="1">
					<td  class="row_name" row_name="Сумочка"><span class="del" rel="7" title="удалить строку">x</span>Сумочка</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="7"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="7"></td>
					<td rel="7">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="7"></p>
						</div>
					</td>
				</tr>
				<tr rel="8" data="1">
					<td  class="row_name" row_name="Обувь"><span class="del" rel="8" title="удалить строку">x</span>Обувь</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="8"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="8"></td>
					<td rel="8">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="8"></p>
						</div>
					</td>
				</tr>
				<tr rel="9" data="1">
					<td   class="row_name" row_name="Аксессуары"><span class="del" rel="9" title="удалить строку">x</span>Аксессуары</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="9"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="9"></td>
					<td rel="9">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="9"></p>
						</div>
					</td>
				</tr>
				<tr rel="10" data="1">
					<td   class="row_name" row_name="Нижнее бельё"><span class="del" rel="10" title="удалить строку">x</span>Нижнее бельё</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="10"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="10"></td>
					<td rel="10">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="10"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="11">
				<tr rel="11">
					<th class="table_name" table_name="Образ жениха">Образ жениха <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="12" data="11">
					<td  class="row_name" row_name="Костюм"><span class="del" rel="12" title="удалить строку">x</span>Костюм</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="12"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="12"></td>
					<td rel="12">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="12"></p>
						</div>
					</td>
				</tr>
				<tr rel="13" data="11">
					<td  class="row_name" row_name="Рубашка"><span class="del" rel="13" title="удалить строку">x</span>Рубашка</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="13"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="13"></td>
					<td rel="13">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="13"></p>
						</div>
					</td>
				</tr>
				<tr rel="14" data="11">
					<td  class="row_name" row_name="Обувь"><span class="del" rel="14" title="удалить строку">x</span>Обувь</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="14"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="14"></td>
					<td rel="14">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="14"></p>
						</div>
					</td>
				</tr>
				<tr rel="15" data="11">
					<td  class="row_name" row_name="Галстук и аксессуары"><span class="del" rel="15" title="удалить строку">x</span>Галстук и аксессуары</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="15"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="15"></td>
					<td rel="15">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="15"></p>
						</div>
					</td>
				</tr>
				<tr rel="72" data="11">
					<td   class="row_name" row_name="Стрижка"><span class="del" rel="72" title="удалить строку">x</span>Стрижка</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="72"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="72"></td>
					<td rel="72">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="72"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="16">
				<tr rel="16">
					<th class="table_name" table_name="Фотограф">Фотограф <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="17" data="16">
					<td class="row_name" row_name='Съёмка свадьбы'><span class="del" rel="17" title="удалить строку">x</span>Съёмка свадьбы</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="17"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="17"></td>
					<td class="diff" rel="17">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="17"></p>
						</div>
					</td>
				</tr>
				<tr rel="18" data="16">
					<td  class="row_name" row_name="Съёмка Love Story"><span class="del" rel="18" title="удалить строку">x</span>Съёмка love story</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="18"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="18"></td>
					<td rel="18">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="18"></p>
						</div>
					</td>
				</tr>
				<tr rel="19" data="16">
					<td  class="row_name" row_name="Фотокнига"><span class="del" rel="19" title="удалить строку">x</span>Фотокнига</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="19"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="19"></td>
					<td rel="19">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="19"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="20">
				<tr rel="20">
					<th class="table_name" table_name="Видеограф">Видеограф <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="21" data="20">
					<td  class="row_name" row_name="Съёмка свадьбы"><span class="del" rel="21" title="удалить строку">x</span>Съёмка свадьбы</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="21"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="21"></td>
					<td rel="21">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="21"></p>
						</div>
					</td>
				</tr>
				<tr rel="22" data="20">
					<td  class="row_name" row_name="Съёмка Love Story"><span class="del" rel="22" title="удалить строку">x</span>Съёмка love story</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="22"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="22"></td>
					<td rel="22">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="22"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="23">
				<tr rel="23">
					<th class="table_name" table_name="Ведущий/шоу программа">Ведущий/шоу программа <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="24" data="23">
					<td  class="row_name" row_name="Ведение свадьбы"><span class="del" rel="24" title="удалить строку">x</span>Ведение свадьбы</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="24"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="24"></td>
					<td rel="24">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="24"></p>
						</div>
					</td>
				</tr>
				<tr rel="25" data="23">
					<td  class="row_name" row_name="DJ"><span class="del" rel="25" title="удалить строку">x</span>DJ</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="25"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="25"></td>
					<td rel="25">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="25"></p>
						</div>
					</td>
				</tr>
				<tr rel="26" data="23">
					<td  class="row_name" row_name="Музыканты"><span class="del" rel="26" title="удалить строку">x</span>Музыканты</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="26"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="26"></td>
					<td rel="26">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="26"></p>
						</div>
					</td>
				</tr>
				<tr rel="27" data="23">
					<td  class="row_name" row_name="Артисты"><span class="del" rel="27" title="удалить строку">x</span>Артисты</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="27"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="27"></td>
					<td rel="27">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="27"></p>
						</div>
					</td>
				</tr>
				<tr rel="28" data="23">
					<td  class="row_name" row_name="Аниматоры"><span class="del" rel="28" title="удалить строку">x</span>Аниматоры</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="28"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="28"></td>
					<td rel="28">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="28"></p>
						</div>
					</td>
				</tr>
				<tr rel="29" data="23">
					<td  class="row_name" row_name="Феёерверк"><span class="del" rel="29" title="удалить строку">x</span>Фейерверк</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="29"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="29"></td>
					<td rel="29">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="29"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="30">
				<tr rel="30">
					<th class="table_name" table_name="Оформитель флорист">Оформитель флорист <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="31" data="30">
					<td   class="row_name" row_name="Оформление зала"><span class="del" rel="31" title="удалить строку">x</span>Оформление зала</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="31"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="31"></td>
					<td rel="31">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="31"></p>
						</div>
					</td>
				</tr>
				<tr rel="32" data="30">
					<td  class="row_name" row_name="Композиция на стол"><span class="del" rel="32" title="удалить строку">x</span>Композиция на стол</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="32"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="32"></td>
					<td rel="32">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="32"></p>
						</div>
					</td>
				</tr>
				<tr rel="33" data="30">
					<td  class="row_name" row_name="Украшение автомобиля"><span class="del" rel="33" title="удалить строку">x</span>Украшение автомобиля</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="33"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="33"></td>
					<td rel="33">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="33"></p>
						</div>
					</td>
				</tr>
				<tr rel="34" data="30">
					<td  class="row_name" row_name="Букет невесты"><span class="del" rel="34" title="удалить строку">x</span>Букет невесты</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="34"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="34"></td>
					<td rel="34">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="34"></p>
						</div>
					</td>
				</tr>
				<tr rel="35" data="30">
					<td  class="row_name" row_name="Бутоньерка"><span class="del" rel="35" title="удалить строку">x</span>Бутоньерка</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="35"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="35"></td>
					<td rel="35">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="35"></p>
						</div>
					</td>
				</tr>
				<tr rel="36" data="30">
					<td  class="row_name" row_name="Воздушные шары"><span class="del" rel="36" title="удалить строку">x</span>Воздушные шары</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="36"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="36"></td>
					<td rel="36">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="36"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="37">
				<tr rel="37">
					<th class="table_name" table_name="Кондитер">Кондитер <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="38" data="37">
					<td   class="row_name" row_name="Свадебный торт"><span class="del" rel="38" title="удалить строку">x</span>Свадебный торт</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="38"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="38"></td>
					<td rel="38">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="38"></p>
						</div>
					</td>
				</tr>
				<tr rel="39" data="37">
					<td  class="row_name" row_name="Каравай"><span class="del" rel="39" title="удалить строку">x</span>Каравай</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="39"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="39"></td>
					<td rel="39">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="39"></p>
						</div>
					</td>
				</tr>
				<tr rel="40" data="37">
					<td  class="row_name" row_name="Кенди-бар"><span class="del" rel="40" title="удалить строку">x</span>Кенди-бар</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="40"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="40"></td>
					<td rel="40">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="40"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="41">
				<tr rel="41">
					<th class="table_name" table_name="Ресторан">Ресторан <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="42" data="41">
					<td  class="row_name" row_name="Меню ресторана"><span class="del" rel="42" title="удалить строку">x</span>Меню ресторана</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="42"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="42"></td>
					<td rel="42">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="42"></p>
						</div>
					</td>
				</tr>
				<tr rel="43" data="41">
					<td   class="row_name" row_name="Алкоголь"><span class="del" rel="43" title="удалить строку">x</span>Алкоголь</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="43"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="43"></td>
					<td rel="43">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="43"></p>
						</div>
					</td>
				</tr>
				<tr rel="44" data="41">
					<td  class="row_name" row_name="Аперитив"><span class="del" rel="44" title="удалить строку">x</span>Аперитив</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="44"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="44"></td>
					<td rel="44">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="44"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="45">
				<tr rel="45">
					<th class="table_name" table_name="Транспорт">Транспорт <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="46" data="45">
					<td  class="row_name" row_name="Автомобиль для молодоженов"><span class="del" rel="46" title="удалить строку">x</span>Автомобиль для молодожёнов</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="46"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="46"></td>
					<td rel="46">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="46"></p>
						</div>
					</td>
				</tr>
				<tr rel="47" data="45">
					<td  class="row_name" row_name="Транспорт для гостей"><span class="del" rel="47" title="удалить строку">x</span>Транспорт для гостей</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="47"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="47"></td>
					<td rel="47">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="47"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="48">
				<tr rel="48">
					<th class="table_name" table_name="Свадебные аксессуары">Свадебные аксессуары <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="49" data="48">
					<td  class="row_name" row_name="Свадебные кольца"><span class="del" rel="49" title="удалить строку">x</span>Свадебные кольца</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="49"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="49"></td>
					<td rel="49">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="49"></p>
						</div>
					</td>
				</tr>
				<tr rel="50" data="48">
					<td  class="row_name" row_name="Свадебные бокалы"><span class="del" rel="50" title="удалить строку">x</span>Свадебные бокалы</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="50"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="50"></td>
					<td rel="50">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="50"></p>
						</div>
					</td>
				</tr>
				<tr rel="51" data="48">
					<td  class="row_name" row_name="Ленты для свидетелей"><span class="del" rel="51" title="удалить строку">x</span>Ленты для свидетелей</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="51"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="51"></td>
					<td rel="51">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="51"></p>
						</div>
					</td>
				</tr>
				<tr rel="52" data="48">
					<td  class="row_name" row_name="Подушка для колец"><span class="del" rel="52" title="удалить строку">x</span>Подушка для колец</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="52"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="52"></td>
					<td rel="52">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="52"></p>
						</div>
					</td>
				</tr>
				<tr rel="53" data="48">
					<td  class="row_name" row_name="Рушник"><span class="del" rel="53" title="удалить строку">x</span>Рушник</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="53"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="53"></td>
					<td rel="53">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="53"></p>
						</div>
					</td>
				</tr>
				<tr rel="54" data="48">
					<td  class="row_name" row_name="Папка для свидетельства"><span class="del" rel="54" title="удалить строку">x</span>Папка для свидетельства</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="54"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="54"></td>
					<td rel="54">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="54"></p>
						</div>
					</td>
				</tr>
				<tr rel="55" data="48">
					<td  class="row_name" row_name="Книга пожеланий"><span class="del" rel="55" title="удалить строку">x</span>Книга пожеланий</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="55"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="55"></td>
					<td rel="55">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="55"></p>
						</div>
					</td>
				</tr>
				<tr rel="56" data="48">
					<td  class="row_name" row_name="Домашний очаг"><span class="del" rel="56" title="удалить строку">x</span>Домашний очаг</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="56"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="56"></td>
					<td rel="56">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="56"></p>
						</div>
					</td>
				</tr>
				<tr rel="57" data="48">
					<td  class="row_name" row_name="Сундучки для денег"><span class="del" rel="57" title="удалить строку">x</span>Сундучки для денег</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="57"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="57"></td>
					<td rel="57">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="57"></p>
						</div>
					</td>
				</tr>
				<tr rel="58" data="48">
					<td  class="row_name" row_name="Атрибуты венчания"><span class="del" rel="58" title="удалить строку">x</span>Атрибуты для венчания</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="58"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="58"></td>
					<td rel="58">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="58"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="59">
				<tr rel="59">
					<th class="table_name" table_name="Свадебная полиграфия">Свадебная полиграфия <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="60" data="59">
					<td  class="row_name" row_name="Пригласительные"><span class="del" rel="60" title="удалить строку">x</span>Пригласительные</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="60"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="60"></td>
					<td rel="60">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="60"></p>
						</div>
					</td>
				</tr>
				<tr rel="61" data="59">
					<td  class="row_name" row_name="Именные карточки"><span class="del" rel="61" title="удалить строку">x</span>Именные карточки</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="61"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="61"></td>
					<td rel="61">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="61"></p>
						</div>
					</td>
				</tr>
				<tr rel="62" data="59">
					<td  class="row_name" row_name="Гостевая книга"><span class="del" rel="62" title="удалить строку">x</span>Гостевая книга</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="62"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="62"></td>
					<td rel="62">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="62"></p>
						</div>
					</td>
				</tr>
				<tr rel="63" data="59">
					<td  class="row_name" row_name="Номерки на стол"><span class="del" rel="63" title="удалить строку">x</span>Номерки на стол</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="63"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="63"></td>
					<td rel="63">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="63"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="64">
				<tr rel="64">
					<th class="table_name" table_name="Гостиница">Гостиница <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="65" data="64">
					<td   class="row_name" row_name="Номера для молодожёнов"><span class="del" rel="65" title="удалить строку">x</span>Номера для молодожёнов</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="65"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="65"></td>
					<td rel="65">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="65"></p>
						</div>
					</td>
				</tr>
				<tr rel="66" data="64">
					<td  class="row_name" row_name="Расселение гостей"><span class="del" rel="66" title="удалить строку">x</span>Расселение гостей</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="66"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="66"></td>
					<td rel="66">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="66"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table rel="67">
				<tr rel="67">
					<th class="table_name" table_name="Другие расходы">Другие расходы <span class="add">пункт</span></th>
					<th>Стоимость</th>
					<th>Оплачено</th>
					<th>Остаток</th>
					<th>Заметки</th>
				</tr>
				<tr rel="68" data="67">
					<td  class="row_name" row_name="ЗАГС гос. пошлина"><span class="del" rel="68" title="удалить строку"></span>ЗАГС гос. пошлина</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="68"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="68"></td>
					<td rel="68">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="68"></p>
						</div>
					</td>
				</tr>
				<tr rel="69" data="67">
					<td  class="row_name" row_name="Мальчишник/девичник"><span class="del" rel="69" title="удалить строку"></span>Мальчишник/девичник</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="69"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="69"></td>
					<td rel="69">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="69"></p>
						</div>
					</td>
				</tr>
				<tr rel="70" data="67">
					<td  class="row_name" row_name="Свадебные подарки"><span class="del" rel="70" title="удалить строку"></span>Свадебные подарки</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="70"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="70"></td>
					<td rel="70">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="70"></p>
						</div>
					</td>
				</tr>
				<tr rel="71" data="67">
					<td  class="row_name" row_name="Свадебное путешествие"><span class="del" rel="71" title="удалить строку"></span>Свадебное путешествие</td>
					<td><input type="text" min="0" name="" value="0" class="brd sum noborder" rel="71"></td>
					<td><input type="text" min="0" name="" value="0" class="brd paid noborder" rel="71"></td>
					<td rel="71">-</td>
					<td class="bgc">
						<div>
							<p class="descr_p" rel="" data="71"></p>
						</div>
					</td>
				</tr>
				<tr class="block_foot">
					<td>Всего</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
