{% extends 'tender_base.html' %}
{% load i18n %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/guest.css' %}">
{%endblock%}
{% block title %}<title>{% trans "Список гостей" %}</title>{% endblock title %}
{%block content%}
<div id="Guest-list">
        <h3>{% trans "Гости невесты<" %}/h3>
        <ul class="guest_list">
            {% for guest in bride_list %}
            <li>{{guest.name}} {{guest.phone}} <span class="del_guest bride" pk="{{guest.pk}}"><i class="fad fa-trash-alt"></i></span></li>
            {% endfor %}
        </ul>

        <div class="add_guest_block">
            <input class="name bride" type="text" placeholder="{% trans 'Имя' %}">
            <input class="phone bride" type="text" placeholder="{% trans 'Телефон' %}">
            <a href="" class="add_guest bride">{% trans "Добавить гостя" %}</a>
        </div>

        <br>

        <h3>{% trans "Гости жениха" %}</h3>
        <ul class="guest_list">
            {% for guest in groom_list %}
            <li>{{guest.name}} {{guest.phone}} <span class="del_guest groom" pk="{{guest.pk}}"><i class="fad fa-trash-alt"></i></span></li>
            {% endfor %}
        </ul>

        <div class="add_guest_block">
            <input class="name groom" type="text" placeholder="{% trans 'Имя' %}">
            <input class="phone groom" type="text" placeholder="{% trans 'Телефон' %}">
            <a href="" class="add_guest groom">{% trans "Добавить гостя" %}</a>
        </div>
</div>
{%endblock%}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {

        $("body").on("mouseenter", "#Guest-list li", function () {
            $("span.del_guest").hide();
            $(this).find('span.del_guest').show();
        });

        $('.del_guest').on('click', function (){
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
            data['type'] = $(this).hasClass('bride') ? 'bride' : 'groom';
            data['obj_pk'] = $(this).attr('pk');
            $.ajax({
              method: "POST",
              url: "{% url 'guest_list:guest_delete' %}",
                data: data,
                success: function(data) {
                // console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });

        $('.add_guest').on('click', function (e){
            e.preventDefault();
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
            data['type'] = $(this).hasClass('bride') ? 'bride' : 'groom';
            data['name'] = $(this).hasClass('bride') ? $(".name.bride").val() : $(".name.groom").val();
            data['phone'] = $(this).hasClass('bride') ? $(".phone.bride").val() : $(".phone.groom").val();
            $.ajax({
              method: "POST",
              url: "{% url 'guest_list:guest_save' %}",
                // dataType: "json",
                data: data,
                success: function(data) {
                // console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });
    })

</script>
{% endblock %}
