{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Сброс пароля" %}</title>{% endblock title %}
{% block content %}
    <div class="login">
        <h1>{% trans "Новый пароль" %}</h1>
        <form method="post" class="login_form">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <span class="reg text-center">
                {% trans "Введите ваш новый пароль" %}
            </span>
            <p class="mt-3">
                <label for="id_new_password1">{% trans "Новый пароль" %}:</label>
                <input type="password" name="new_password1" required id="id_new_password1">
            </p>
            <p class="mt-3">
                <label for="id_new_password2">{% trans "Подтверждение пароля" %}:</label>
                <input type="password" name="new_password2" required id="id_new_password2">
            </p>
            <input type="submit" value="{% trans 'Дальше' %}">
        </form>
    </div>
{% endblock %}