{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Сброс пароля" %}</title>{% endblock title %}
{% block content %}
<p class="simple_text mb-4">{% trans "Новый пароль установлен." %}<a href="{% url 'account:login' %}">{% trans "Войти" %}</a></p>
{% endblock %}