{% extends 'tender_base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/tenders.css' %}">
{% endblock %}

{% block content %}
<section id="TopPlace" style="background: url({% static 'media/images/tenders.jpg' %})no-repeat center center /cover;">
    <div class="container">
        <div class="top_place">
            <div class="top_title">
                <h1>{% trans "Тендеры" %}</h1>
            </div>
            <div class="top_descr">
                <p>{% trans "Молодожены ищут специалистов" %}</p>
            </div>
            <div class="mobile_filter_btn">
                <a href="#"><span><i class="fas fa-filter"></i></span> {% trans "Показать фильтры" %}</a>
            </div>
        </div>
    </div>
</section>
<section id="FiltersSection">
    <div class="container">
        <div class='filters_desktop'>
            <a href="" class="filter_close_btn"><i class="fal fa-times"></i></a>
            <form id="Filter" method="get">
                <p class="filter_wrapper">
                    <span>{% trans "Каталог услуг" %} </span>
                    <select name="service" id="id_service">
                      <option value="" {% if not filter.form.service.value %}selected{% endif %}>---------</option>
                      <option value="restaurant" {% if filter.form.service.value == "restaurant" %}selected{% endif %}>{% trans "Банкетные залы и рестораны" %}</option>
                      <option value="registryoffice" {% if filter.form.service.value == "registryoffice" %}selected{% endif %}>{% trans "Дворцы бракосочетания и ЗАГСы" %}</option>
                      <option value="photostudio" {% if filter.form.service.value == "photostudio" %}selected{% endif %}>{% trans "Площадки для фотосессий" %}</option>
                      <option value="decor" {% if filter.form.service.value == "decor" %}selected{% endif %}>{% trans "Оформление и декор" %}</option>
                      <option value="transport" {% if filter.form.service.value == "transport" %}selected{% endif %}>{% trans "Транспортные услуги" %}</option>
                      <option value="photographer" {% if filter.form.service.value == "photographer" %}selected{% endif %}>{% trans "Фотографы" %}</option>
                      <option value="videographer" {% if filter.form.service.value == "videographer" %}selected{% endif %}>{% trans "Видеографы" %}</option>
                      <option value="presenter" {% if filter.form.service.value == "presenter" %}selected{% endif %}>{% trans "Ведущие и тамада" %}</option>
                      <option value="music" {% if filter.form.service.value == "music" %}selected{% endif %}>{% trans "Музыкальные группы и Dj" %}</option>
                      <option value="artist" {% if filter.form.service.value == "artist" %}selected{% endif %}>{% trans "Шоу-программа и артисты" %}</option>
                      <option value="cake" {% if filter.form.service.value == "cake" %}selected{% endif %}>{% trans "Свадебный торты" %}</option>
                      <option value="dress" {% if filter.form.service.value == "dress" %}selected{% endif %}>{% trans "Свадебные платья" %}</option>
                      <option value="costume" {% if filter.form.service.value == "costume" %}selected{% endif %}>{% trans "Свадебные костюмы" %}</option>
                      <option value="ring" {% if filter.form.service.value == "ring" %}selected{% endif %}>{% trans "Обручальные кольца" %}</option>
                      <option value="bouquet" {% if filter.form.service.value == "bouquet" %}selected{% endif %}>{% trans "Букет невесты" %}</option>
                      <option value="stylist" {% if filter.form.service.value == "stylist" %}selected{% endif %}>{% trans "Стилисты и визажисты" %}</option>
                      <option value="accessories" {% if filter.form.service.value == "accessories" %}selected{% endif %}>{% trans "Свадебные аксессуары" %}</option>
                      <option value="dance" {% if filter.form.service.value == "dance" %}selected{% endif %}>{% trans "Свадебный танец" %}</option>
                      <option value="invitation" {% if filter.form.service.value == "invitation" %}selected{% endif %}>{% trans "Пригласительные" %}</option>
                      <option value="agency" {% if filter.form.service.value == "agency" %}selected{% endif %}>{% trans "Свадебные агенства" %}</option>
                    </select>
                </p>
                <div class="filter_wrapper">
                    <span>{% trans "Бюджет 'от-до'" %} (y.e.)</span>
                    <div class="">
                        <input type="number" name="budget_gt" step="any" id="id_budget_gt" value="{{filter.form.budget_gt.value}}">
                        <input type="number" name="budget_lt" step="any" id="id_budget_lt" value="{{filter.form.budget_lt.value}}">
                    </div>
                </div>
       
                 <div class="filter_wrapper">
                     <span>{% trans "Дата события 'от-до'" %}</span>
                   <div class="d-block d-lg-flex align-items-center">
                       <input type="date" name="on_date_end" id="id_on_date_end" value="{{filter.form.on_date_end.value}}">
                       <input type="date" name="on_date_start" id="id_on_date_start" value="{{filter.form.on_date_start.value}}">
                   </div>
                </div>
                <button class="filters_button" type="submit">{% trans "Применить" %}</button>
            </form>
        </div>
        <div class='filters_mobile'></div>
    </div>
</section>

<div class="container">
    <div class="tender_list">
        <a href="{% url 'tender:create' %}" class="create_tender {% if request.user.type == 'client' and not request.user.clientprofile.is_active %}no_active_user{% endif %}">{% trans "Создать тендер" %}</a>
        <div class="row">
            {% for obj in objs %}
            <div class="col-12 col-md-6">
                <a class="tender_box d-block" href="{% url 'tender:detail' obj.slug %}">
                    <div class="tender_header d-flex align-items-center justify-content-between">
                        <h3 class="tender_need">{% trans "Нужен" %}: <span>{{obj.get_service_display}}</span></h3>
                        <div class="tender_info">
                            <span class="tender_on_date">{% trans "на" %} {{obj.on_date}}</span>
                            <span class="tender_budget">{% trans "Бюджет" %} <span>{{obj.budget}} {% trans "y.e." %}</span></span>
                        </div>
                    </div>
                    <div class="tender_body d-flex align-items-start">
                        <div class="tender_img">
                            {% if obj.author.clientprofile.avatar %}
                            <img src="{{obj.author.clientprofile.avatar.url}}" alt="">
                            {% else %}
                            <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="tender_preview">
                            <p class="tender_author">{{obj.author}}</p>
                            <p class="tender_comment">{{obj.comment|slice:'120'}}...</p>
                        </div>
                    </div>
                    <div class="tender_footer">
                        <span class="tender_created">{% trans "Тендер создан" %}: {{obj.create_date}}</span>
                        <span class="tender_responses">{% trans "Отклики" %}: {{obj.responses.count}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    {% if objs.has_other_pages %}
            <ul class="pagination justify-content-center mt-5">
            {% if objs.has_previous %}
                <li><a href="?page={{ objs.previous_page_number }}"><i class="fad fa-angle-double-left"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="fad fa-angle-double-left"></i></span></li>
        {% endif %}
            {% for i in objs.paginator.page_range %}
            {% if objs.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)
                </span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if objs.has_next %}
                <li><a href="?page={{ objs.next_page_number }}"><i class="fad fa-angle-double-right"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="fad fa-angle-double-right"></i></span></li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script>
    $(document).ready(function(){
        $('.mobile_filter_btn a').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
        $('.filter_close_btn').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
    });
</script>
{%endblock%}