{% extends 'tender_base.html' %}
{% load i18n %}
{% load static %}


{% block s %}
<a href="{% url 'home' %}">home</a>
<h1>Tender detail</h1>
<ul>



</ul>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/tender_detail.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Тендер" %}</title>{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="tender_box">
                <div class="tender_header d-flex align-items-center justify-content-between">
                    <h3 class="tender_need">{% trans "Нужен" %}: <span>{{tender.get_service_display}}</span></h3>
                    <div class="tender_info">
                        <span class="tender_on_date">{% trans "на" %} {{tender.on_date}}</span>
                        <span class="tender_budget">{% trans "Бюджет" %} <span>{{tender.budget}} {% trans "y.e." %}</span></span>
                    </div>
                </div>
                <div class="tender_body d-flex align-items-start">
                    <div class="tender_img">
                        
                        {% if tender.author.clientprofile.avatar %}
                        <img src="{{ tender.author.clientprofile.avatar.url }}" alt="">
                        {% else %}
                        <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                        {% endif %}
    
                    </div>
                    <div class="tender_preview">
                        <p class="tender_author">{{tender.author}}</p>
                        <p class="tender_comment">{{tender.comment}}</p>
                    </div>
                </div>
                <div class="tender_footer">
                    <span class="tender_created">{% trans "Тендер создан" %}: {{tender.create_date}}</span>
                    <span class="tender_responses">{% trans "Отклики" %}: {{tender.responses.count}}</span>
                </div>
    
                <div class="tender_specialists">
                    <div class="wrapper">
                        <h3 class="title">{% trans "Специалисты, которые откликнулись на этот тендер" %}</h3>
    
                        {% for response in tender.responses.all%}
                            <div class="row">
                                <div class="col-12 col-md-6 d-flex align-items-center mb-4">
                                    {% if response.from_user.check_avatar %}
                                    <img src="{{ response.from_user.check_avatar.url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                                    {% endif %}
                                    <p class="specialist">{{response.from_user.get_type_display}} <a href="{{response.from_user.get_cabinet_url}}">{{response.from_user}}</a></p>
                                </div>
                            </div>
                        {%endfor%}
    
                    </div>
                </div>
    
                {%if tender.author == request.user%}
                  <div class="tender_func">
                        <a class="tender_edit" href="{%url 'tender:update' tender.slug%}">{% trans "Редактировать" %}</a>
                        <a class="tender_edit" href="{%url 'tender:delete' tender.slug%}">{% trans "Удалить" %}</a>
                  </div>
                {%endif%}
    
                {%if tender.executor%}
                    <p>{% trans "Тендер закрыт. Исполнитель найден" %}</p>
                {%else%}
                    {%if responded%}
                        <span>{% trans "Вы откликнулись" %}</span>
                    {%elif tender.service == request.user.type%}
                        <a class="tender_edit createResponse" href="">{% trans "Откликнуться на тендер" %}</a>
                    {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
      $('.createResponse').click(function(e) {
        // Stop form from sending request to server
        e.preventDefault();

        var btn = $(this);

        $.ajax({
          method: "POST",
          url: "{% url 'tender:create_response' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "tender_pk": '{{tender.pk}}',
              "user_pk": '{{request.user.pk}}',
          },
          success: function(data) {
            if(data['success'])window.location.reload()
          },
          error: function(er) {
            console.log(er);
          }
        });
      })
    });
</script>
{%endblock%}
