{% extends 'tender_base.html' %}
{% load static %}


{% block s %}
<a href="{% url 'home' %}">home</a>
<h1>Tender detail</h1>
<ul>



</ul>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/tender_detail.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="tender_box">
            <div class="tender_header d-flex align-items-center justify-content-between">
                <h3 class="tender_need">Нужен: <span>{{tender.get_service_display}}</span></h3>
                <div class="tender_info">
                    <span class="tender_on_date">на {{tender.on_date}}</span>
                    <span class="tender_budget">Бюджет <span>{{tender.budget}} сум</span></span>
                </div>
            </div>
            <div class="tender_body d-flex align-items-start">
                <div class="tender_img"><img src="{% static 'media/images/s.jpg' %}" alt=""></div>
                <div class="tender_preview">
                    <p class="tender_author">{{tender.author}}</p>
                    <p class="tender_comment">{{tender.comment}}</p>
                </div>
            </div>
            <div class="tender_footer">
                <span class="tender_created">Тендер создан: {{tender.create_date}}</span>
                <span class="tender_responses">Отклики: {{tender.responses.count}}</span>
            </div>

            <div class="tender_specialists">
                <div class="wrapper">
                    <h3 class="title">Специалисты, которые откликнулись на этот тендер</h3>

                    {% for response in tender.responses.all%}
                        <div class="row">
                        {% if response.from_user.type == 'photographer' %}

                            <div class="col-12 col-md-6 d-flex align-items-center mb-4">
                                <img src="{% static 'media/images/s.jpg' %}" alt="">
                                <p class="specialist">{{response.from_user.get_type_display}} <a href="{{response.from_user.photographer.get_absolute_url}}">{{response.from_user}}</a></p>
                            </div>
                        {% elif response.from_user.type == 'restaurant' %}
                            <a href="{{response.from_user.restaurant.get_absolute_url}}">{{response.from_user}}</a>
                        {% endif %}
                        </div>
                    {%endfor%}

                </div>
            </div>

            {%if tender.author == request.user%}
              <div class="tender_func">
                    <a class="tender_edit" href="{%url 'tender:update' tender.slug%}">Редактировать</a>
                    <a class="tender_edit" href="{%url 'tender:delete' tender.slug%}">Удалить</a>
              </div>
            {%endif%}

            {%if tender.executor%}
                <p>Тендер закрыт. Исполнитель найден</p>
            {%else%}
                {%if responded%}
                    <span>Вы откликнулись</span>
                {%elif tender.service == request.user.type%}
                    <a href="" class="createResponse">Откликнуться на тендер</a>
                {%endif%}
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
      $('.createResponse').click(function(e) {
        // Stop form from sending request to server
        e.preventDefault();

        var btn = $(this);

        $.ajax({
          method: "POST",
          url: "{% url 'tender:create_response' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "tender_pk": '{{tender.pk}}',
              "user_pk": '{{request.user.pk}}',
          },
          success: function(data) {
            if(data['success'])window.location.reload()
          },
          error: function(er) {
            console.log(er);
          }
        });
      })
    });
</script>
{%endblock%}
