{% extends 'tender_base.html' %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/tender_delete.css' %}">
{%endblock%}

{% block content %}
<div class="contianer">
    <div class="tender_delete">
        <h1>Удалить тендер</h1>
        <form method="post" class="tender_delete_form">{% csrf_token %}
        <p>Вы точно хотите удалить этот тендер "{{ object }}"?</p>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
        <a class="cancel" href="{% url 'tender:detail' object.slug %}">Отменить</a>
        </form>
    </div>
</div>

{% endblock %}
