{% extends 'tender_base.html' %}


{% block content %}
<a href="{% url 'home' %}">home</a>
<h1>Tender detail</h1>
<ul>
    {{tender.get_service_display}}
    <br>
    <br>
    <br>
    {%if tender.author == request.user%}
        <a href="{%url 'tender:update' tender.slug%}">Редактировать</a>
        <a href="{%url 'tender:delete' tender.slug%}">Удалить</a>
    {%elif responded%}
        <span>Вы откликнулись</span>
    {%elif tender.service == request.user.type%}
        <a href="" class="createResponse">Откликнуться на тендер</a>
    {%endif%}
</ul>

{% endblock %}
{%block script%}
<script>
    // let btn = document.querySelector('.createResponse');
    // btn.addEventListener('click', function(e){
    //     e.preventDefault();
    // })
    $(document).ready(function() {
      $('.createResponse').click(function(e) {
        // Stop form from sending request to server
        e.preventDefault();

        var btn = $(this);

        $.ajax({
          method: "POST",
          url: "{% url 'tender:create_response' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "tender_pk": '{{tender.pk}}',
              "user_pk": '{{request.user.pk}}',
          },
          success: function(data) {
            if(data['success'])window.location.reload()
          },
          error: function(er) {
            console.log(er);
          }
        });
      })
    });
</script>
{%endblock%}
