{% extends 'tender_base.html' %}
{% load i18n %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/tender_create.css' %}">
{%endblock%}
{% block title %}<title>{% trans "Созадание тендера" %}</title>{% endblock title %}
{% block content %}
<div class="container">
    <div class="tender_create">
        <h1>{% trans "Создать тендер" %}</h1>
        <p class="text"><span class="bld">{% trans "Тендеры (свадебные объявления)" %}</span> – {% trans "раздел для поиска молодоженами специалистов на свадьбу" %} <br>
            {% trans "Преимущество создания тендеров молодожёнами заключается в том, что вы сокращаете время на поиски требуемых специалистов. Ваш тендер (свадебное объявление) увидят все заинтересованные специалисты, которые согласятся принять участие в тендере на условия ваших требований. Специалисты самостоятельно свяжутся с Вами и предложат весь спектр своих услуг. Вам же, среди участников тендера, остаётся лишь выбрать лучшего специалиста. Тендеры сайта помогают мгновенно связать молодожён как с индивидуальными профессионалами, там и с крупными фирмами или компаниями" %}.
            <br><br>
            {% trans "Для" %} <span class="bld">{% trans "грамотного" %}</span> {% trans "заполнения тендера Вам стоит проделать всего несколько этапов" %}: 
        </p>
        <ul class="steps">
            <li>
                1. <span class="bld">{% trans "Выберите специалиста или организацию из Каталога услуг" %}</span>
            </li>
            <li>2. <span class="bld">{% trans "Укажите достоверную дату события" %}</span> ({% trans "обычно дата торжества указывается за две и более недели до начала его проведения" %})</li>
            <li>3. <span class="bld">{% trans "Укажите Ваш бюджет для данной услуги" %}</span> ({% trans "При участии в тендере специалисты могут предложить Вам свою цену, она может оказаться ниже указанной Вами. Но помните, что чем выше бюджет, тем более квалифицированные услуги вам смогут предложить. Бюджет по умолчанию указан в у.е." %})</li>
            <li>4. <span class="bld">{% trans "Укажите в графе «Комментарии» как можно больше информации о требуемых услугах" %}</span> ({% trans "Подробные детали оказания услуг, место проведения мероприятия, время проведения, часы работы специалиста и так далее" %}).</li>
        </ul>
        <p class="text_btm">
            {% trans "Создавайте тендеры (свадебные объявления) на сайте" %} <span>T</span><span class='gld'>O</span><span>Y</span><span>P</span><span class='gld'>O</span><span>Y</span> {% trans "и забудьте о головной боли в бесконечных поисках специалистов по всему городу" %}.
        </p>
         <form class="tender_create_form" method="post" enctype='multipart/form-data'>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% csrf_token %}
    
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
    
        {% for field in form.visible_fields %}
        <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% trans "Создать" %}</button>
        </form>
    </div>
</div>
{% endblock %}
