@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}

/* -------------- footer ------------------*/

footer{
    background: #efefef;
    padding: 40px 0;
}
.footer_top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}
.footer_logo,
.footer_reg{
    margin-bottom: 35px;
}
.footer_logo .logo{
    padding: 0;
    display: block;
}
.footer_logo img{
    max-width: 100%;
}
.footer_reb_btn{
    border: 2px solid var(--blue-color);
    border-radius: 20px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
    transition: all .2s ease;
    margin-bottom: 30px;
    font-family: 'Roboto_medium';
}
.footer_reb_btn:hover{
    color: black;
    border-color: var(--gold-color);
}
.footer_socials{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
}

.footer_socials a{
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--blue-color);
    text-decoration: none;
}

.footer_socials a:hover{
    background: var(--gold-color);
    color: white;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}
.footer_contact{
    font-size: 16px;
    font-family: 'Roboto_medium';
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}
.footer_contact:hover{
    color: var(--blue-color);
}
.footer_contact span{
    margin-right: 12px;
}

.footer_menu{
    display: flex;
    align-items: flex-start;
}
.footer_menu_1,
.footer_menu_2{
    margin-left: 30px;
}
.footer_menu_title{
    color: black;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Roboto_medium';
    text-transform: uppercase;
}
.footer_menu_wrapper{
    display: flex;
}
.footer_menu_list:first-child{
    margin-right: 20px;
}
.footer_menu_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_menu_link{
    color: var(--light-grey);
    font-size: 15px;
    font-family: 'Roboto_regular';
    padding: 5px 0;
    text-decoration: none;
}
.footer_menu_link:hover{
    color: var(--blue-color);
}
.footer_menu_link_custom{
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Roboto_medium';
    text-transform: uppercase;
    display: block;
}

@media(max-width: 992px){
    .footer_top{
        justify-content: center;
    }
}