@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}


/* --------------------- main ------------------ */
.login{
    padding: 30px 0 60px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 28px;
    color: var(--dark-grey);
    font-family: 'Roboto_medium';
    margin-bottom: 35px;
    text-transform: uppercase;
    padding: 0 20px;
}

.login_form{
    width: 100%;
    max-width: 500px;
    padding: 40px 25px 40px 25px;
    /* border: 2px solid #c99e668f; */
    box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
}

.login_form p{
    display: flex;
    align-items: center;
}

.login_form label{
    font-size: 16px;
    color: var(--light-grey);
    font-family: 'Roboto_regular';
    margin-right: 15px;
    width: 145px;
}

.login_form p input{
    border: 1px solid #d3d3d3a8;
    height: 36px;
    padding: 0 15px;
    color: #808285;
    font-size: 14px;
    width: calc(100% - 160px);
    border-radius: 14px;
}

.login_form p input:focus{
    outline: none;
}

.login_form input[type=submit]{
    display: block;
    width: 150px;
    height: 38px;
    margin: 30px auto 0;
    background: var(--gold-color);
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 14px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

.login_form input[type=submit]:hover {
    background: #c99e668f;
}

.login_form .forgot_pass{
    display: flex;
    width: 100%;
    justify-content: end;
}

.login_form .forgot_pass a{
    font-size: 15px;
    color: var(--light-grey);
    font-family: 'Roboto_regular';
}

.reg{
    display: block;
    font-size: 15px;
    color: var(--light-grey);
    font-family: 'Roboto_regular';
    margin-top: 25px;
}

.simple_text{
    display: block;
    font-size: 17px;
    max-width: 900px;
    width: 100%;
    color: var(--dark-color);
    font-family: 'Roboto_regular';
    margin: 35px auto 0;
    text-align: center;
}

/*-------------------- messages -----------------*/
.messages {
    list-style: none;
}

.messages li{
    font-size: 15px;
    color: #ff0000ad;
    text-align: center;
    font-family: 'Roboto_regular';
}
/* --------------------- media ---------------------*/

@media (max-width: 470px){
    .login_form p{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .login_form label{
        text-align: center;
        margin-bottom: 5px;
    }
    .login_form p input{
        width: 90%;
    }
}