{% extends 'account_base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/cabinet.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Кабинет" %}</title>{% endblock title %}
{% block content %}
<section class="cab_section">


    {% if user.type == 'photographer' %}
        {{user.type}}
        {{user.username}}
        {{user.photographer.phone}}
        {%if user.photographer.avatar%}<img src="{{user.photographer.avatar.url}}" alt="" width="50" height="50">{%endif%}
        <br><br>
        {%if not user.portfolio%}
        <a href="{%url 'services:create_portfolio'%}">Create portfolio</a>
        {%else%}
            <br>
            <p>Portfolio</p>
            {%for image in user.portfolio.images.all%}
            <a href="{{image.image.url}}"><img src="{{image.image.url}}" alt="" width="50" height="50"></a>
            {%endfor%}
        {%endif%}

    {% elif user.type == 'restaurant' %}
        {{user.type}}
        {{user.username}}
        {{user.restaurant.phone}}
    {% else %}
        {% include 'account/_inc/client_cabinet.html' %}

<!--        <a href="{% url 'tender:create' %}">create tender</a>-->
<!--        <h3>Мои тендеры:</h3>-->
<!--        <ul>-->
<!--            {% for tender in client_tenders%}-->
<!--                <li><a href="{%url 'tender:detail' tender.slug%}">{{tender}}</a> <span>Откликов: {{tender.responses.count}}</span></li>-->
<!--            {%endfor%}-->
<!--        </ul>-->

    {% endif %}
</section>
{% endblock %}