{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Изменить пароль" %}</title>{% endblock title %}
{% block content %}
    <div class="login">
        <h1>{% trans "Смена пароля" %}</h1>
        <form action="" method="post" class="login_form">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <p>
                <label for="id_old_password">{% trans "Текущий пароль" %}:</label>
                <input type="password" name="old_password" required id="id_old_password">
            </p>
            <p>
                <label for="id_new_password">{% trans "Новый пароль" %}:</label>
                <input type="password" name="new_password" required id="id_new_password">
            </p>
            <p>
                <label for="id_new_password_rep">{% trans "Повторить новый пароль" %}:</label>
                <input type="password" name="new_password_rep" required id="id_new_password_rep">
            </p>
            <p class="form_info">
                {% trans "Введённые пароли должны совпадать" %}
            </p>
            <input type="submit" value="{% trans 'Сохранить' %}">
        </form>
    </div>
{% endblock %}
