{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/client_update.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Редактирование профиля" %}</title>{% endblock title %}
{% block content %}
<div class="client_update">
    <h1>{% trans "Редактировать профиль" %}</h1>
    <form class="client_update_form" method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group {%if field.name == 'avatar'%}avatar_group {%endif%}">
        {%if field.name == 'avatar'%}
            <a target="_blank" href="{{ MEDIA_URL }}{{ field.value }}"><img src="{{ MEDIA_URL }}{{ field.value }}" alt="" ></a>
            <div class="wrapper">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {%else%}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        {%endif%}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{% trans "Сохранить" %}</button>
    </form>
</div>
{% endblock %}



