{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Вход в аккаунт" %}</title>{% endblock title %}
{% block content %}
    <div class="login">
        <h1>{% trans "Вход" %}</h1>
        <form action="" method="post" class="login_form">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
             <p>
                <label for="id_username">{% trans "Имя пользователя" %}:</label>
                <input type="text" name="username" required id="id_username">
             </p>

            <p>
                <label for="id_password">{% trans "Пароль" %}:</label>
                <input type="password" name="password" required id="id_password">
            </p>

            <div class="forgot_pass">
                <a href="{% url 'account:password_reset' %}">{% trans "Забыли пароль?" %}</a>
            </div>
            <input type="submit" value="{% trans 'Войти' %}">
            <span class="reg">
                {% trans "Еще нет аккаунта?" %} <a href="{% url 'account:registration' %}">{% trans "Зарегистрируйтесь здесь" %}</a>
            </span>
        </form>
    </div>
{% endblock %}