{% extends 'services_base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'slick/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'styles/spec_list.css' %}">
<link rel="stylesheet" href="{% static 'styles/rating.css' %}">
<link href="{% static 'select2/select2.css' %}" rel="stylesheet" />
{% endblock%}
{% block title %}<title>{% trans "Рейтинг специалистов" %}</title>{% endblock title %}
{% block content %}
    <section id="TopPlace" style="background: url({% static 'media/images/rating.jpg' %})no-repeat center center /cover;">
        <div class="container">
            <div class="top_place">
                <div class="top_title">
                    <h1>{% trans 'Топ 10 специалистов' %}</h1>
                </div>
                <div class="top_descr">
                    <p>{% trans 'Рейтинг лучших специалистов с проверенными оценками и отзывами' %}</p>
                </div>
                <div class="mobile_filter_btn">
                    <a href="#"><span><i class="fas fa-filter"></i></span> {% trans 'Показать фильтры' %}</a>
                </div>
            </div>
        </div>
    </section>

    <section id="FiltersSection">
        <div class="container">
            <div class='filters_desktop rating'>
                <a href="" class="filter_close_btn"><i class="fal fa-times"></i></a>
                <form id='Filter' method='GET' action="{% url 'services:top' %}" class="w-100">
                    <div>
                        <span>Каталог услуг</span>
                        <select name="service" id="id_service">
                            <option value="" {% if not service %}selected{% endif %}>---------</option>
                            <option value="restaurant" {% if service == "restaurant" %}selected{% endif %}>{% trans "Банкетные залы и рестораны" %}</option>
                            <option value="registryoffice" {% if service == "registryoffice" %}selected{% endif %}>{% trans "Дворцы бракосочетания и ЗАГСы" %}</option>
                            <option value="photostudio" {% if service == "photostudio" %}selected{% endif %}>{% trans "Площадки для фотосессий" %}</option>
                            <option value="decor" {% if service == "decor" %}selected{% endif %}>{% trans "Оформление и декор" %}</option>
                            <option value="transport" {% if service == "transport" %}selected{% endif %}>{% trans "Транспортные услуги" %}</option>
                            <option value="photographer" {% if service == "photographer" %}selected{% endif %}>{% trans "Фотографы" %}</option>
                            <option value="videographer" {% if service == "videographer" %}selected{% endif %}>{% trans "Видеографы" %}</option>
                            <option value="presenter" {% if service == "presenter" %}selected{% endif %}>{% trans "Ведущие и тамада" %}</option>
                            <option value="music" {% if service == "music" %}selected{% endif %}>{% trans "Музыкальные группы и Dj" %}</option>
                            <option value="artist" {% if service == "artist" %}selected{% endif %}>{% trans "Шоу-программа и артисты" %}</option>
                            <option value="cake" {% if service == "cake" %}selected{% endif %}>{% trans "Свадебные торты" %}</option>
                            <option value="dress" {% if service == "dress" %}selected{% endif %}>{% trans "Свадебные платья" %}</option>
                            <option value="costume" {% if service == "costume" %}selected{% endif %}>{% trans "Свадебные костюмы" %}</option>
                            <option value="ring" {% if service == "ring" %}selected{% endif %}>{% trans "Обручальные кольца" %}</option>
                            <option value="bouquet" {% if service == "bouquet" %}selected{% endif %}>{% trans "Букет невесты" %}</option>
                            <option value="stylist" {% if service == "stylist" %}selected{% endif %}>{% trans "Стилисты и визажисты" %}</option>
                            <option value="accessories" {% if service == "accessories" %}selected{% endif %}>{% trans "Свадебные аксессуары" %}</option>
                            <option value="dance" {% if service == "dance" %}selected{% endif %}>{% trans "Свадебный танец" %}</option>
                            <option value="invitation" {% if service == "invitation" %}selected{% endif %}>{% trans "Пригласительные" %}</option>
                            <option value="agency" {% if service == "agency" %}selected{% endif %}>{% trans "Свадебные агентства" %}</option>
                        </select>
                    </div>
                      <button class="filters_button" type="submit">{% trans "Применить" %}</button>
                </form>
            </div>
            <div class='filters_mobile'></div>
        </div>
    </section>
   
    <div class="container">
        
        {% if user_list %}
        <div class="rating_list">
            {% for user in user_list %}
                <a href="{{ user.get_cabinet_url }}" class="rating_box">
                    <div class="rating_left d-flex align-items-center">
                        {% if user.check_avatar %}
                        <img src="{{ user.check_avatar.url }}" alt="">
                        {% else %}
                        <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                        {% endif %}
                        <p class="name">
                            {{ forloop.counter }}. {{ user }}
                        </p>
                    </div>
                    <div class="rating_right">
                        <p>Рейтинг <span>{{ user.get_calculated_rate }}</span></p>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{%endblock content%}
{%block script%}
<script>
        $('.mobile_filter_btn a').on('click', function(e){

            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
        $('.filter_close_btn').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
</script>
{%endblock%}
