{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <img src="{% static 'media/images/404.jpg' %}" alt="">
    <style>
        body{
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            background: #e1e1e1;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    </style>
</body>
</html>