{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header_main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    {% block title %}<title>{% trans "Главная" %} | Toypoy.uz</title>{% endblock title %}
</head>
<body>
    <header>
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        <div class="languages d-none d-lg-flex">
            <div class="dropdown">
                <a class="nav_link dropdown-toggle" href="#" role="button" id="dropdownLang" data-bs-toggle="dropdown" aria-expanded="false">
                  {{CURRENT_LANGUAGE}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    {% for language in languages %}
                        <li>
                        <a href="/{{ language.code }}/"
                            {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                            {{ language.code }}
                        </a>
                        </li>
                    {% endfor %}
                </ul> 
            </div>
        </div>
        {% block header %}
            {% include 'wedding/_inc/header_main.html' %}
        {% endblock %}
    </header>
    <main>
        {% block main %}

        {% endblock %}

    </main>
    <footer>
        {% block footer %}
        {% include 'wedding/_inc/footer.html' %}
        {% endblock %}
    </footer>


    <script src="{% static 'bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script>
        // 100vh
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);

        window.addEventListener('resize', () => {
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        });

        // burger
        let burgerBtn = document.querySelector('.burger_btn');
        let menu = document.querySelector('.mobile-menu');
        let catalog_btn = document.querySelector('.catalog_btn');
        let mobile_catalog = document.querySelector('.mobile_catalog');
        let catalog_back = document.querySelector('.catalog_back');
        let account_btn = document.querySelector('.account_btn');
        let account_menu = document.querySelector('.account_menu');
        let account_back = document.querySelector('.account_back');

        burgerBtn.addEventListener('click', (e)=>{
            e.preventDefault();
            if(burgerBtn.classList.contains('active') && menu.classList.contains('active')){
                document.body.style.overflow = 'auto'
            }
            else{
                document.body.style.overflow = 'hidden'
            }
            burgerBtn.classList.toggle('active');
            menu.classList.toggle('active');
            mobile_catalog.classList.remove('active');
            account_menu.classList.remove('active');
        })
        catalog_btn.addEventListener('click', (e)=>{
            e.preventDefault();
            mobile_catalog.classList.toggle('active');
        })
        catalog_back.addEventListener('click', (e)=>{
            e.preventDefault();
            mobile_catalog.classList.toggle('active');
        })
        account_btn.addEventListener('click', (e)=>{
            e.preventDefault();
            account_menu.classList.toggle('active');
        })
        account_back.addEventListener('click', (e)=>{
            e.preventDefault();
            account_menu.classList.toggle('active');
        })
    </script>
    {% block script %}

    {% endblock %}
</body>
</html>