@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #3096ce8c;
}

*{
    margin: 0;
    padding: 0;
}


/* --------------------------- main -------------------------------- */
#Budget{
    width: 996px;
    margin: 20px auto 0 auto;
}
#Budget table tr{
    position: relative;
}

#Budget table tr span.del{
    display: none;
    cursor: pointer;
    position: absolute;
    left: -25px;
}
#Budget #BudgetTables table td input {
    border: 1px solid #d7d7d7;
    width: 98px;
    height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #808285;
    font-size: 15px;
    opacity: 0.6;
}
#Budget .noborder {
    border: 0 !important;
}
#Budget #BudgetTables table td p.descr_p {
    width: 280px;
    font-size: 14px;
    line-height: 16px;
    color: #939598;
    padding: 0 10px;
    margin: 4px 0 0 6px;
    overflow: hidden;
    min-height: 30px;
}
#Budget #BudgetTables table td.bgc {
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #d7d7d7;
}
#Budget #BudgetTables table td {
    border: 1px solid #d7d7d7;
    text-align: left;
    padding: 0 0 0 20px;
    vertical-align: middle;
    font-size: 15px;
    color: #808285;
    height: 48px;
    background: #fff;
}
#Budget table tr td {
    position: relative;
}

#Budget #BudgetTables table td.bgc div {
    background-color: #fffae4;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    height: 100%;
    list-style: none;
}
#Budget #BudgetTables table td {
    border: 1px solid #d7d7d7;
    text-align: left;
    padding: 0 0 0 20px;
    vertical-align: middle;
    font-size: 15px;
    color: #808285;
    height: 48px;
    background: #fff;
}
#Budget #BudgetTables table {
    width: 989px;
    border: 1px solid #d7d7d7;
    margin: 28px 0 0 0;
    border-collapse: inherit;
}
#Budget #BudgetTables table td textarea {
    background: #fffae4;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #acacac;
    font-size: 14px;
    line-height: 16px;
    color: #939598;
    padding: 10px 15px;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    height: 27px;
}
#Budget #BudgetSum1 p input {
    width: 86px;
    height: 24px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    text-align: center;
    font-size: 15px;
    color: #808285;
    margin: -3px 0 0 23px;
}
#Budget #BudgetSum1 p span {
    width: 50px;
    display: block;
    float: right;
    text-align: center;
    margin: 0 29px 0 0;
}
#Budget #BudgetSum1 {
    border: 2px dashed #ccc;
    border-radius: 8px;
}
#Budget #BudgetSum2 {
    border: 2px solid #68bac2;
    border-radius: 8px;
}
#Budget #BudgetSum2 p span {
    display: inline-block;
    text-align: center;
    margin: 0;
}
#Budget #BudgetSum2 p {
    font-size: 15px;
    color: #808285;
    line-height: 24px;
    margin: 2px 23px 0;
    text-align: right;
}
#Budget #BudgetSum2 p.BudgetSum2Bold {
    color: #49bdc8;
    font-weight: 600;
}

.block_display{
    display: block;
}
.DeleteBlock {
    display: none;
    z-index: 111111111;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 420px;
}
.deals-popup {
    /* position: relative; */
    padding: 25px 50px;
    background: #fff;
    max-width: 850px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.2;
    border: 3px solid #bbe4e7;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
/* .mfp-hide {
    display: none !important;
} */