@font-face {
    font-family: 'Roboto_thin';
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto_light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto_regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto_medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto_bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}