@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}

/* -------------- footer ------------------*/

footer{
    /* padding: 30px 0; */
    background: #efefef;
}

.footer_wrapper{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    position: relative;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    width: 100%;
    background: url('../media/images/footer.jpg')no-repeat center center /cover; 
}
.footer_bg{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #efefefc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    width: 100%;
    padding: 30px 0;
}

.footer_bg .logo{
    display: block;
    margin-top: -30px;
    position: relative;
}

.footer_call-us{
    position: relative;
    border: 2px solid #c99e668f;
    border-radius: 20px;
    font-size: 16px;
    color: var(--dark-grey);
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 25px;
    transition: all .2s ease;
    margin-bottom: 30px;
    font-family: 'Roboto_medium';
}

.footer_call-us span{
    margin-right: 7px;
    position: relative;
}

.footer_call-us:hover{
    color: var(--dark-grey);
    border-color: var(--blue-color);
    position: relative;
}

.footer_socials{
    position: relative;
    margin-bottom: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_socials a{
    position: relative;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--blue-color);
    text-decoration: none;
}

.footer_socials a:hover{
    background: var(--gold-color);
    color: white;
}

.footer_rights{
    position: relative;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    color: var(--dark-grey);
    font-family: 'Roboto_regular';
}