@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
    font-family: 'Roboto_regular';
}

*{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
}
/* ----------- lang ----------------- */
.languages_mobile{
    text-transform: uppercase;
    margin-top: 30px;
    position: absolute;
    top: -16px;
    right: 11px;
}

.languages{
    z-index: 6;
    position: absolute;
    right: 20px;
    top: 22px;
    text-transform: uppercase;
}
.languages a,
.languages_mobile a{
    color: var(--gold-color);
    text-decoration: none;
    font-family: 'Roboto_medium';
}
.languages_mobile a{
    color: black;
}
.languages .dropdown-menu,
.languages_mobile .dropdown-menu{
    min-width: auto;
    padding: 0;
    box-shadow: 0px 13px 32px rgb(204 208 221 / 30%);
    border-radius: 7px;
}
.languages li,
.languages_mobile li{
    padding: 5px 10px;
}
.languages li:hover,
.languages_mobile li:hover{
    background-color: #e9e9e9;
}
/* ----------------------------------------- tender_section ---------------------------- */
.tender_section{
    background-color: #f6f6f6;
    padding: 50px 0;
}

.tender_section .title span{
    color: var(--gold-color);
}

.tender_section .title{
    margin-bottom: 35px;
}

.tender_section ul>li{
    list-style: none;
    font-family: 'Roboto_medium';
    font-size: 20px;
    color: var(--dark-grey);
    margin: 0 10px;
}

.tender_section ul>li>span{
    color: var(--gold-color);
}

.tender_link{
    display: block;
    text-decoration: none;
}

.tender_box{
    padding: 25px 20px;
    border: 2px solid transparent;
    background: #fff;
    transition: all .2s ease;
    margin: 10px 0;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    min-height: 331px;
}

.tender_box:hover{
    border: 2px solid var(--gold-color);
}

.tender_info{
    margin-bottom: 20px;
}

.tender_info>img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.tender_info-text{
    font-family: 'Roboto_regular';
    font-size: 16px;
    color: var(--light-grey);
    line-height: 1.4;
    margin: 5px 0;
}

.tender_specialist{
    color: #4197cb;
    font-family: 'Roboto_bold';
}

.tender_budget{
    color: var(--gold-color);
    font-family: 'Roboto_bold';
}

.tender_customer{
    font-family: 'Roboto_regular';
    font-size: 16px;
    color: var(--light-grey);
    margin-bottom: 10px;
}

.tender_description{
    font-size: 14px;
    font-family: 'Roboto_regular';
    color: #929292;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
    border-top: 1px dashed #d2d3d3;
    border-bottom: 1px dashed #d2d3d3;
    line-height: 1.8em;
}

.tender_responses{
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #808285;
    font-size: 16px;
    font-weight: 500;
    /* padding: 0 0 0 34px; */
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAARCAMAAADub6yxAAABAlBMVEUAxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM705267AAAAVXRSTlMAAQIDBAYICgwPGBscIScsMTY3OTo8PT5CREZISk9SU1laXF5hZmdobG1wcnqAio2SlpeYnJ6hpaqsr7O8vcHFxszP19vd3ubr7u/x8vT29/n7/P3+yPtdPQAAAL1JREFUeAFly+c6w1AAx+FfaWtoUVRQxN5qDy2Kqj1OIv/7vxWJJE9yHu/3l0hl77r39dE9X+gjUz4wSnQdUgMdZfwlEmfKM2P8qf7IcoFTANZke+b4sh82ZHvjUE2YlK1DW94I3MuyPPgurcL4p3JahX1Jm0DtSangpFT3JM0QOlLs+2qKRnR7RWDW1+PitOvWylROA0nGIXTTWilRrI7Wd9q+Qi9zZBq3gWJNLMPz69vu1qvMBP8N7d49wC8z2UjXRyJ62gAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 0 20%; */
}

.tender_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn__white{
    font-family: 'Roboto_regular';
    display: inline-block;
    color: var(--dark-color);
    background: #fff;
    border: 2px solid var(--gold-color);
    height: 42px;
    line-height: 42px;
    margin-right: 45px;
    border-radius: 23px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn__white:hover{
    color: white;
    background-color: var(--gold-color);
}

.btn__gold{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto_regular';
    width: 220px;
    height: 42px;
    line-height: 42px;
    border: 2px solid var(--gold-color);
    border-radius: 23px;
    display: inline-block;
    text-transform: none;
    background: var(--gold-color);
    transition: all .2s ease;
    font-size: 16px;
}

.btn__gold:hover{
    color: black;
    background-color: white;
}

.toypoy_text{
    font-family: 'Roboto_medium';
    color: black;
    font-size: 19px;
}
.toypoy_text span{
    color: var(--gold-color);
}
.welcome_text_extra{
    margin-top: 60px;
    font-size: 17px;
    font-style: italic;
    font-family: 'Roboto_regular';
    margin-bottom: 28px;
}
.text{
    margin-top: 20px;
    font-family: 'Roboto_medium';
    font-size: 16px;
    color: var(--dark-grey);
    margin: 25px 10px;
    text-align: center;
    margin-bottom: 50px;
}

.title{
    font-family: 'Roboto_bold';
    color: var(--dark-color);
    font-size: 28px;
    margin-bottom: 25px;
}
/* ----------------------- about_section ----------------------- */
.about_section{
  padding: 20px 0 50px;  
}
/* --------------------------- catalog section ------------------------------ */
.catalog_section{
    padding: 50px 0;
}
.catalog_box{
    display: flex;
    align-items: center;
}
.catalog_left{
    width: 50%;
    padding-right: 12px;
}
.catalog_right{
    width: 50%;
    padding-left: 12px;
}
.catalog_top,
.catalog_bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.catalog_top_left{
    width: calc(50% - 12px);

}
.catalog_top_right{
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalog_wrapper{
    width: 100%;
}
.catalog_thumb{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.catalog_descr{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px 32px 15px;
    background-color: white;
}
.catalog_descr h3{
    font-family: 'Roboto_medium';
    font-size: 16px;
    margin-bottom: 0px;
}
.catalog_hover{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    background: #4197cb;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.catalog_hover:hover{
    opacity: 1;
}
.catalog_hover h3{
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
.catalog_hover span{
    outline: none !important;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 33px rgb(204 208 221 / 37%);
    box-shadow: 0px 11px 33px rgb(204 208 221 / 37%);
    height: 44px;
    line-height: 44px;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #000 !important;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.catalog_441{
    height: 441px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_382{
    height: 382px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_268{
    height: 268px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_234{
    height: 234px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_209{
    height: 209px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_198{
    height: 198px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_183{
    height: 183px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_161{
    height: 161px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 16px;
    overflow: hidden;
}
.catalog_section .btn__gold{
    margin: 0 auto;
    display: block;
    background-color: white;
    border: 2px solid #4197cb;
    transition: all .3s;
    color: #4197cb;
    margin-top: 30px;
}
.catalog_section .btn__gold:hover{
    background: #4197cb;
    color: white;
}
/* -------------------------------------- welcome --------------------------------- */
.welcome{
    background: white;
    padding: 50px 0;
}

.welcome_title{
    font-size: 30px;
    margin-bottom: 50px;
}

.welcome_title span{
    color: var(--gold-color);
}

.welcome_text{
    font-size: 18px;
    color: var(--dark-grey);
    margin-bottom: 30px;
}
.freepay{
    font-family: 'Roboto_medium';
    color: var(--gold-color);
    font-size: 18px;
}
.welcome_client-register{
    width: 250px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
    border: 2px solid #4197cb;
    transition: all .3s;
    color: #4197cb;
}
.welcome_client-register:hover{
    background: #4197cb;
    color: white;
}
.welcome_subtitle{
    font-family: 'Roboto_medium';
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.welcome_spec-register{
    color: var(--gold-color);
    font-size: 20px;
}

.welcome_spec-register:hover{
    color: var(--gold-color);
}
/* ------------- planning_section --------------- */
.planning_section{
    padding: 50px 0 20px;
    background-color: #f9f9f9;
}
.planning_section .title{
    margin-bottom: 35px;
}
.planning_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.planning_box{
    padding: 12px;
}
.planning_box a{
    text-decoration: none;
    display: block;
    width: 230px;
    min-height: 193px;
    background-color: #fff;
    border-radius: 18px;
    margin-bottom: 24px;
    border: 2px solid #fff;
    padding: 56px 16px 15px 23px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    box-shadow: 0px 13px 32px rgb(204 208 221 / 30%);
}
.planning_box a:hover{
    border: 2px solid #4197cb;
    box-shadow: 0px 13px 32px rgb(204 208 221 / 60%);
}
.planning_icon{
    position: absolute;
    top: -19px;
    left: 23px;
    width: 59px;
    height: 58px;
    border-radius: 18px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px 13px 32px rgb(204 208 221 / 20%);
    box-shadow: 0px 13px 32px rgb(204 208 221 / 20%);
    color: #4197cb;
    font-size: 28px;
}
.planning_title{
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 12px;
    color: black;
    font-family: 'Roboto_medium';
}
.planning_descr{
    font-size: 14px;
    line-height: 1.3;
    color: var(--light-grey);
}
/* ------------- promo_section ---------------- */

.promo_section{
    padding: 50px 0;
}

.promo_section .title{
    font-family: 'Roboto_medium';
    color: var(--dark-color);
    font-size: 28px;
    margin-bottom: 25px;
}

.promo_section .title span {
    color: var(--gold-color);
}
.specialist_registry{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 40px 25px 40px 25px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    margin: 50px auto 30px;
}

.specialist_registry input[type='text']{
    width: 90%;
    border: 1px solid #d3d3d3a8;
    height: 36px;
    padding: 0 15px;
    color: #808285;
    font-size: 14px;
    border-radius: 14px;
    margin-bottom: 15px;
}

.specialist_registry p {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: var(--dark-grey);
}

.specialist_registry input[type='submit']{
    display: block;
    width: 150px;
    height: 36px;
    margin: 15px auto 0;
    background: var(--gold-color);
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 14px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

/*--- messages ---*/
.specialist_registry .messages {
    list-style: none;
    margin-bottom: 15px;
}

.specialist_registry .messages li{
    font-size: 15px;
    color: #ff0000ad;
    text-align: center;
    font-family: 'Roboto_regular';
}

input:focus{
    outline: none;
}

.register_done{
    font-size: 17px;
    color: #56ad01;
    text-align: center;
    margin-top: 35px;
}

.promo_section .subtitle,
.register_guide{
    color: #6d6e71;
    font-size: 15px;
    line-height: 1.4;
}

.admin_contacts{
    list-style: none
}

.admin_contacts li{
    margin: 5px 0;
}

.admin_contacts li a{
    color: #6d6e71;
    font-size: 15px;
    line-height: 1.4;
}

.admin_contacts li a span{
    margin-right: 6px;
}

.register_guide_title,
.admin_contacts_title{
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: 'Roboto_medium';
    color: var(--dark-color);
    font-size: 28px;
    text-align: center;
}
/* ----------------------------------------- media ---------------------------- */

@media (max-width: 992px){
    .tender_section .title{
        font-size: 24px;
    }
    .tender_section ul>li{
        font-size: 18px;
    }
}

@media (max-width: 768px){
    .tender_section ul{
        flex-direction: column;
    }
    .tender_section ul>li{
        margin-bottom: 10px;
    }
    .tender_section ul>li:last-child{
        margin-bottom: 0;
    }
    .tender_customer{
        padding-left: 20px;
    }
    .catalog_441{
        height: 200px;
    }
    .catalog_382{
        height: 200px;
    }
    .catalog_268{
        height: 200px;
    }
    .catalog_234{
        height: 200px;
    }
    .catalog_209{
        height: 200px;
    }
    .catalog_198{
        height: 200px;
    }
    .catalog_183{
        height: 200px;
    }
    .catalog_161{
        height: 200px;
    }
    .catalog_top,
    .catalog_box{
        flex-direction: column;
    }
    .catalog_top_left,
    .catalog_top_right,
    .catalog_left,
    .catalog_right{
        width: 100%;
        padding: 0;
    }
    .catalog_top,
    .catalog_bottom{
        margin: 0;
    }
    .catalog_wrapper{
        margin-bottom: 24px;
    }
}

@media (max-width: 575px){
    .tender_btns{
        flex-direction: column;
        align-items: center;
    }
    .tender_btns .btn__white{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .planning_box{
        width: 100%;
    }
    .planning_box a{
        width: 100%;
    }
}

@media (max-width: 400px){
    .tender_info>img{
        width: 70px;
        height: 70px;
    }
}