@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}


/* --------------------- main ------------------ */
.registration{
    padding: 30px 0 60px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 28px;
    color: var(--dark-grey);
    font-family: 'Roboto_medium';
    margin-bottom: 35px;
    text-transform: uppercase;
    padding: 0 20px;
}

.register_form{
    width: 100%;
    max-width: 500px;
    padding: 40px 25px 40px 25px;
    /* border: 2px solid #c99e668f; */
    box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_form p{
    display: flex;
    align-items: center;
    width: 70%;
}

.register_form p input{
    height: 36px;
    padding: 0 15px;
    color: #808285;
    font-size: 14px;
    width: 100%;
    border: 1px solid #d3d3d3a8;
    border-radius: 14px;
}

.register_form p input:focus{
    outline: none;
}

.register_form input[type=submit]{
    display: block;
    width: 190px;
    height: 38px;
    margin: 30px auto 0;
    background: var(--gold-color);
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 14px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

.register_form input[type=submit]:hover {
    background: #c99e668f;
}

.login{
    display: block;
    font-size: 15px;
    color: var(--light-grey);
    font-family: 'Roboto_regular';
    margin-top: 25px;
}

/*-------------------- messages -----------------*/
.messages {
    list-style: none;
}

.messages li{
    font-size: 15px;
    color: #ff0000ad;
    text-align: center;
    font-family: 'Roboto_regular';
}

/* -------------- form errors -------------- */
.errorlist {
    max-width: 500px;
    width: 100%;
    padding: 0 20px 0 40px;
    line-height: 18px;
}

.errorlist li{
    list-style: circle;
    font-size: 12px;
    color: #ff0000ad;
    font-family: 'Roboto_regular';
}
/* --------------------- media ---------------------*/

@media (max-width: 570px){
    .register_form p{
        width: 100%;
    }
}
