@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: rgba(48, 150, 206, 0.62);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}


/* --------------------- main ------------------ */
main{
    padding: 10px 0 30px;
}

.detail_left{
    background: #f6f6f6;
    position: relative;
}
.favorite{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.favorite a{
    font-size: 35px;
}
.add_favorite{
    color: white;
}
.add_favorite:hover{
    color: var(--gold-color);
}
.remove_favorite{
    color: #cd2b2b;
}
.remove_favorite:hover{
    color: var(--light-grey);
}
.specialist_avatar{
    width: 100%;
    max-width: 278px;
}

.info, .contacts, .rating{
    padding: 13px 20px;
}

.subtitle{
    font-size: 22px;
    color: var(--gold-color);
    line-height: 1.2;
    font-family: 'Roboto_medium';
    margin-bottom: 15px;
}

.specialist_fullname{
    color: var(--dark-color);
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Roboto_medium';
}

.specialist_type{
    color: #939598;
    margin-bottom: 6px;
    font-size: 14px;
}

.specialist_price{
    color: #414042;
    margin-bottom: 6px;
    font-size: 16px;
}

.specialist_price span{
    color: var(--blue-color);
    font-family: 'Roboto_medium';
}

.specialist_telegram{
    display: flex;
    align-items: center;
    color: #414042;
    margin-bottom: 6px;
    font-size: 16px;
}

.specialist_telegram a{
    margin-left: 6px;
}

.specialist_telegram span{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--gold-color);
}

.specialist_phone{
    display: flex;
    align-items: center;
    color: #414042;
    margin-bottom: 6px;
    font-size: 16px;
}

.specialist_phone a{
    margin-left: 6px;
}

.specialist_phone span{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--gold-color);
}

.specialist_about{
    margin-bottom: 15px;
    padding: 20px;
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
}

.detail_right .subtitle{
    text-align: center;
    margin-bottom: 30px;
}

.detail_right ul{
    border: none;
    width: 100%!important;
}

.detail_right ul>li{
    width: 50%!important;
}

.detail_right ul>li>button{
    border: none!important;
    width: 100%!important;
    background: #eaeaea!important;
    border-radius: 0!important;
    cursor: pointer;
    color: #58595b!important;
    font-size: 15px;
    padding: 10px 5px;
    font-family: 'Roboto_medium';
}

.detail_right ul>li>button.active{
    background: #3096ce8c!important;
}

.detail_right ul>li>button:hover{
    color: #3096ce8c!important;
}

.nav-item>.nav-link>span{
    color: var(--gold-color);
    font-family: 'Roboto_medium';
}

.review_list{
    list-style: none;
    padding: 20px;
}

.review_box{
    margin: 15px 0;
}

.review_box span{
    display: block;
    margin: 0 20px;
    color: #58595b;
    font-size: 15px;
    font-family: 'Roboto_medium';
}

.review_box p{
    margin-left: 10px;
    margin-bottom: 0;
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.also_reviewed{
    display: block;
    margin-left: 20px;
    color: #58595b;
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.write_review{
    margin-bottom: 20px;
    margin-left: 20px;
    color: #58595b;
    font-size: 17px;
    font-family: 'Roboto_medium';
}

.review_form{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.review_form textarea{
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    min-height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--gold-color);
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: 'Roboto_regular';
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 25%);
}

.review_form button{
    font-family: 'Roboto_medium';
    color: var(--dark-color);
    font-size: 15px;
    background: white;
    line-height: 42px;
    display: inline-block;
    border: 2px solid var(--gold-color);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 25%);
}

.review_form button:hover{
    color: var(--gold-color);
}

.star-ratings {
    margin-bottom: 0;
    color: #808285;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.star-ratings span{
    color: var(--blue-color);
    font-family: 'Roboto_medium';
}

/* -------- restaurant --------- spec_more_info------- */

.spec_more_info .more_info{
    list-style: none;
    margin-bottom: 15px;
    padding: 20px;
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
}

.spec_more_info .more_info li{
    width: 100%!important;
    padding: 5px;
}

.spec_more_info .more_info li span{
    margin-right: 10px;
    color: var(--blue-color);
}

/* ----------------------------------------- media ---------------------------- */

@media (max-width: 767px){
    .detail_left{
        margin-bottom: 40px;
    }
}
