@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
    --blue-color: #4197cb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto_regular';
}


/* --------------------- main ------------------ */
main{
    padding: 10px 0 30px;
}

.detail_left{
    background: #f6f6f6;
    position: relative;
}
.favorite{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.favorite a{
    font-size: 35px;
}
.add_favorite{
    color: white;
}
.add_favorite:hover{
    color: var(--gold-color);
}
.remove_favorite{
    color: #cd2b2b;
}
.remove_favorite:hover{
    color: var(--light-grey);
}
.specialist_avatar{
    width: 100%;
    max-width: 278px;
}
.avatar{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 10px auto;
}
.info, .contacts, .rating{
    padding: 13px 20px;
}

.subtitle{
    font-size: 22px;
    color: var(--gold-color);
    line-height: 1.2;
    font-family: 'Roboto_medium';
    margin-bottom: 15px;
}

.specialist_fullname{
    color: var(--dark-color);
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Roboto_medium';
}

.specialist_type{
    color: #939598;
    margin-bottom: 6px;
    font-size: 14px;
}

.specialist_price{
    color: #414042;
    margin-bottom: 6px;
    font-size: 16px;
}

.specialist_price span{
    color: var(--blue-color);
    font-family: 'Roboto_medium';
    font-size: 18px;
}

.specialist_telegram{
    display: flex;
    align-items: center;
    color: #414042;
    margin-bottom: 6px;
    font-size: 18px;
}

.specialist_telegram a{
    margin-left: 6px;
}

.specialist_telegram span{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--gold-color);
}

.specialist_phone{
    display: flex;
    align-items: center;
    color: #414042;
    margin-bottom: 6px;
    font-size: 18px;
}

.specialist_phone a{
    margin-left: 6px;
}

.specialist_phone span{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--gold-color);
}

.specialist_about{
    padding: 20px;
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
}
.specialist_about>p{
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
    margin-bottom: 2px;
}
.specialist_about.hidden{
    overflow: hidden;
    overscroll-behavior-y: none;
    height: 65px;
}
.toggle_about_text{
    color: var(--blue-color);
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 25px;
    display: block;
    translate: all .3s;
}
.toggle_about_text:hover{
    color: var(--blue-color);
}
.toggle_about_text.hidden .arrow{
    transform: rotate(135deg) translateY(3px);
}
.toggle_about_text .arrow{
    translate: all .3s;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 2px solid var(--blue-color);
    border-right: 2px solid var(--blue-color);
    margin-left: 7px;
    transform: rotate(-45deg) translateY(6px);
}
.detail_right .subtitle{
    text-align: center;
    margin-bottom: 30px;
}

.detail_right ul{
    border: none;
    width: 100%!important;
}

.detail_right ul>li{
    width: 50%!important;
}

.detail_right ul>li>button{
    border: none!important;
    width: 100%!important;
    background: #eaeaea!important;
    border-radius: 0!important;
    cursor: pointer;
    color: #58595b!important;
    font-size: 15px;
    padding: 10px 5px;
    font-family: 'Roboto_medium';
}

.detail_right ul>li>button.active{
    background: #3096ce8c!important;
}

.detail_right ul>li>button:hover{
    color: #3096ce8c!important;
}

.nav-item>.nav-link>span{
    color: var(--gold-color);
    font-family: 'Roboto_medium';
}

.review_list{
    list-style: none;
    padding: 20px;
}

.review_box{
    margin: 15px 0;
}
.review_box img{
    border-radius: 50%;
}

.review_box span{
    display: block;
    margin: 0 20px;
    color: #58595b;
    font-size: 15px;
    font-family: 'Roboto_medium';
}

.review_box p{
    margin-left: 10px;
    margin-bottom: 0;
    color: #808285;
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.also_reviewed{
    display: block;
    margin-left: 20px;
    color: #58595b;
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.write_review{
    margin-bottom: 20px;
    margin-left: 20px;
    color: #58595b;
    font-size: 17px;
    font-family: 'Roboto_medium';
}

.review_form{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.review_wrapper{
    display: flex;
    width: 100%;
    align-items: center;
}

.review_form textarea{
    margin-bottom: 15px;
    width: 100%;
    max-width: 550px;
    max-width: 500px;
    min-height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--gold-color);
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: 'Roboto_regular';
}

.review_form button{
    font-family: 'Roboto_medium';
    color: white;
    font-size: 15px;
    background: var(--gold-color);
    line-height: 42px;
    display: inline-block;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.review_form button:hover{
    color: white;
}
.rate_options{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
.detail_right ul.rate_options{
    width: auto!important;
}
.rate_option{
    margin: 0 7px;
    font-size: 30px;
    cursor: pointer;
}
.negative_rate:hover,
.negative_rate.selected,
.review_list .negative_rate.selected:hover{
    color: #cd2b2b;
}
.neutral_rate:hover,
.neutral_rate.selected,
.review_list .neutral_rate.selected:hover{
    color: var(--blue-color);
}
.positive_rate:hover,
.positive_rate.selected,
.review_list .positive_rate.selected:hover{ 
    color: #56ad01;
}
.review_list .rate_option{
    cursor: auto;
}
.review_list .negative_rate:hover,
.review_list .neutral_rate:hover,
.review_list .positive_rate:hover{
    color: inherit;
}

/* .star-ratings {
    margin-bottom: 0;
    color: #808285;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Roboto_regular';
}

.star-ratings span{
    color: var(--blue-color);
    font-family: 'Roboto_medium';
} */
.rating_options{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
ul.rating_options{
    padding: 0;
    width: auto!important;
}
.rating{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.rating_option{
    margin: 0 7px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.rating_option span{
    font-size: 18px;
    margin-left: 5px;
}
.negative_rating{
    color: #cd2b2b;
}
.neutral_rating{
    color: var(--blue-color);
}
.positive_rating{ 
    color: #56ad01;
}

.change_password{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #56ad01;
    font-family: 'Roboto_medium';
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
    margin-top: 25px;
}
.change_password span{
    margin-right: 6px;
    font-size: 22px;
}
.change_password:hover{
    color: var(--blue-color);
}

.portfolio_element{
    width: 100%;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    min-height: 250px;
    max-height: 300px;
}
.play_icon{
    content: "";
    display: flex;
    position: absolute;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 26px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.detail_right ul>li.review_box{
    width: 100%!important;
}
.create_portfolio{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto_regular';
    width: 220px;
    height: 42px;
    line-height: 42px;
    border: 2px solid var(--blue-color);
    border-radius: 23px;
    text-transform: none;
    background: var(--blue-color);
    transition: all .2s ease;
    font-size: 16px;
    margin: 0 auto;
}

.create_portfolio:hover{
    color: black;
    background-color: white;
}
.delete_portfolio{
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto_regular';
    width: 220px;
    height: 42px;
    line-height: 42px;
    border: 2px solid #cd2b2b;
    border-radius: 23px;
    display: block;
    text-transform: none;
    background: #cd2b2b;
    transition: all .2s ease;
    font-size: 16px;
    margin: 20px auto;
}

.delete_portfolio:hover{
    color: black;
    background-color: white;
}
.portfolio_img, video{
    width: 100%;
    display: block;
    height: 100%;
    min-height: 230px;
    max-height: 300px
}

/* -------- restaurant --------- spec_more_info------- */

.spec_more_info .more_info{
    list-style: none;
    margin-bottom: 15px;
    padding: 0 20px 20px;
    color: #6c6c6c;
    font-size: 15px;
    line-height: 1.4em;
}

.spec_more_info .more_info li{
    width: 100%!important;
    padding: 5px;
}


.spec_more_info .more_info li span{
    margin-right: 10px;
}
.spec_more_info .more_info li span{
    color: #cd2b2b;
}
.spec_more_info .more_info li.active span{
    color: #56ad01;
}
.spec_more_info .more_info li{
    opacity: .6;
}
.spec_more_info .more_info li.active{
    opacity: 1;
}
.spec_more_info .more_info .more_info_title span{
    color: #4197cb;
}
/* ----------------------------------------- media ---------------------------- */
@media (max-width: 1200px){
    .portfolio_img, video{
        height: 150px;
        min-height: 150px;
    }
}
@media (max-width: 767px){
    .detail_left{
        margin-bottom: 40px;
    }
    .review_box{
        flex-direction: column;
        padding-bottom: 5px;
        border-bottom: 1px solid #808285;
    }
    .review_box img{
        margin-bottom: 5px;
    }
    .review_box p{
        margin: 0;
        margin-top: 8px;
    }
    .review_box ul{
        padding: 0;
    }
}
@media (max-width: 500px){
    .review_box {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
    }
    .review_box p{
        text-align: center;
    }
}
@media (max-width: 480px){
    .portfolio_img{
        min-height: 160px;
    }
    .create_portfolio.to_center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .create_portfolio,
    .delete_portfolio{
        width: 170px;
        height: 38px;
        line-height: 37px;
        font-size: 15px;
    }
}
@media (max-width: 400px){
    .spec_more_info .more_info{
        padding: 0;
    }
}