{% load i18n %}
{% load static %}

<div class="container">
    <div class="footer_wrapper">
        <div class="footer_top">
            <div class="footer_left">
                <div class="footer_logo">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'media/images/TOYPOY_logo_png.webp' %}" alt=""></a>
                </div>
                <div class="footer_reg">
                    <a href="https://t.me/ilyassio" class="footer_reb_btn">
                        {% trans "Зарегистрироваться" %}
                    </a>
                </div>
                <div class="footer_contacts">
                    <a href="tel:+998909955933" class="footer_contact"><span><i class="fal fa-phone-alt"></i></span>(90) 995-59-33</a>
                    <a href="tel:+998977430933" class="footer_contact"><span><i class="fal fa-phone-alt"></i></span>(97) 743-09-33</a>
                </div>
                <div class="footer_socials">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/@Ilyassio"><i class="fab fa-telegram-plane"></i></a>
                </div>
                
            </div>

            <div class="footer_menu d-none d-lg-flex">
                <div class="footer_menu_3">
                    <p class="footer_menu_title">{% trans "Тендеры" %}</p>
                    <div class="footer_menu_wrapper">
                        <ul class="footer_menu_list">
                            <li><a href="{% url 'tender:list'%}" class="footer_menu_link">{% trans "Смотреть тендеры" %}</a></li>
                            <li><a href="{% url 'tender:create' %}" class="footer_menu_link {% if request.user.type == 'client' and not request.user.clientprofile.is_active %}no_active_user{% endif %}">{% trans "Создать тендер" %}</a></li>
                            <li><a href="" class="footer_menu_link_custom">{% trans "Скидки и акции" %}</a></li>
                            <li><a href="{% url 'services:top' %}" class="footer_menu_link_custom">{% trans "Рейтинг" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_menu_2">
                    <p class="footer_menu_title">{% trans "Онлайн планировщик" %}</p>
                    <div class="footer_menu_wrapper">
                        <ul class="footer_menu_list">
                            <li><a href="{% url 'budget:budget_view' %}" class="footer_menu_link">{% trans "Затраты/бюджет" %}</a></li>
                            <li><a href="{% url 'favorite:my_favorites' %}" class="footer_menu_link">{% trans "Сохраненные специалисты" %}</a></li>
                            <li><a href="{% url 'account:tenders' %}" class="footer_menu_link">{% trans "Мои тендеры" %}</a></li>
                            <li><a href="{% url 'guest_list:guest_list' %}" class="footer_menu_link">{% trans "Список гостей" %}</a></li>
                            <li><a href="{% url 'plan:plan_list' %}" class="footer_menu_link">{% trans "План свадебного дня" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_menu_1">
                    <p class="footer_menu_title">{% trans "Каталог услуг" %}</p>
                    <div class="footer_menu_wrapper">
                        <ul class="footer_menu_list">
                            <li><a class="footer_menu_link" href="{% url 'services:restaurant_list' %}">{% trans "Банкетные залы и рестораны" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:registryoffice_list' %}">{% trans "Дворцы бракосочетания и ЗАГСы" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:photostudio_list' %}">{% trans "Площадки для фотосессий" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:decor_list' %}">{% trans "Оформление и декор" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:transport_list' %}">{% trans "Транспортные услуги" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:photographer_list' %}">{% trans "Фотографы" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:videographer_list' %}">{% trans "Видеографы" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:presenter_list' %}">{% trans "Ведущие и тамада" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:music_list' %}">{% trans "Музыкальные группы и Dj" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:artist_list' %}">{% trans "Шоу программы и артисты" %}</a></li>
                        </ul>
                        <ul class="footer_menu_list">
                            <li><a class="footer_menu_link" href="{% url 'services:cake_list' %}">{% trans "Свадебные торты" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:dress_list' %}">{% trans "Свадебные платья" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:costume_list' %}">{% trans "Свадебные костюмы" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:ring_list' %}">{% trans "Обручальные кольца" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:bouquet_list' %}">{% trans "Букет невесты" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:stylist_list' %}">{% trans "Стилисты и визажисты" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:accessories_list' %}">{% trans "Свадебные аксессуары" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:dance_list' %}">{% trans "Свадебный танец" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:invitation_list' %}">{% trans "Пригласительные" %}</a></li>
                            <li><a class="footer_menu_link" href="{% url 'services:agency_list' %}">{% trans "Свадебные агенства" %}</a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="footer_bottom"></div>
    </div>
</div>



{% comment %} <div class="footer_wrapper">
    <div class="footer">
       <div class="footer_bg">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'media/images/TOYPOY_logo_png.webp' %}" alt=""></a>
            <a href="https://t.me/ilyassio" class="footer_call-us">
                {% trans "Напишите нам" %}
            </a>
            <div class="footer_socials">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-telegram-plane"></i></a>
            </div>
            <p class="footer_rights">
                © 2022 TOYPOY.uz. {% trans "Использование материалов сайта разрешено только при указании гиперссылки на страницу сайта, откуда копируется материл, с указанием бренда" %} TOYPOY.uz
            </p>
       </div>
    </div>
</div> {% endcomment %}