{% extends "account_base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Добавление портфолио" %}</title>{% endblock title %}
{% block content %}
    <div class="login">
        <h1>{{ title }}</h1>
        <form action="" method="post" enctype="multipart/form-data" class='login_form'>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="{% trans 'Создать' %}"></p>
        </form>
    </div>
{% endblock %}
