{% extends 'services_base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    {% comment %} <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/spec_detail.css' %}">
{% endblock %}
{% block title %}<title>{% trans "Сведебное агентсво" %} {{object.name}}</title>{% endblock title %}
{% block slider %}
<div class="zoom_slider">
    <div class="portfolio_detail">
        <span class="slider_close_btn"><i class="fas fa-times"></i></span>
        <div id="zoomSlider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="true">
            <div class="carousel-inner">
                {% for file in object.user.portfolio.files.all %}
                <div class="carousel-item" position={{forloop.counter}}>
                    {% if file.content_type == 'image' %}
                        <img src="{{ file.file.url }}" alt="" class="w-100 d-block">
                    {% else %}
                        <video src="{{ file.file.url }}" controls class="w-100 d-block"></video>
                    {% endif %} 
                </div>                                           
                {%endfor%}
            </div>
            <div class="carousel_btns">
                <button class="carousel-control-prev" type="button" data-bs-target="#zoomSlider" data-bs-slide="prev">
                    <span class="btn_prev"><i class="fad fa-long-arrow-left"></i></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#zoomSlider" data-bs-slide="next">
                    <span class="btn_next"><i class="fad fa-long-arrow-right"></i></span>
                  </button>
            </div>
          </div>
    </div>
</div>
{% endblock slider %}
{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="detail_left d-flex flex-column">
                    {%if object.avatar%}
                    <img class="avatar" src="{{object.avatar.url}}" alt="">
                    {% else %}
                    <img class="avatar" src="{% static 'media/images/logo_v2.png' %}" alt="">
                    {%endif%}
                    <div class="info">
                        <h3 class="subtitle">{% trans "Информация" %}</h3>
                        <p class="specialist_fullname">{% if object.name %}
                            {{object.name}} {% else %} {{object.user}} {% endif %}</p>
                        <p class="specialist_type">{% trans "Свадебные агенства" %}</p>
                        {% if CURRENT_LANGUAGE == 'ru' %}
                                <p class="specialist_type">{% trans "Адрес" %}: {{object.address}}</p>
                            {% else %}
                                <p class="specialist_type">{% trans "Адрес" %}: {{object.address_uz}}</p>
                            {% endif %}
                    </div>
                    <div class="contacts">
                        <h3 class="subtitle">{% trans "Контакты" %}</h3>
                        {% if object.telegram %}<p class="specialist_telegram"><span><i class="fab fa-telegram-plane"></i></span><a href="{{object.telegram}}">Telegram</a></p>{% endif %}
                        {% if object.instagram %}<p class="specialist_telegram"><span><i class="fab fa-instagram"></i></span><a href="{{object.instagram}}">Instagram</a></p>{% endif %}
                        {% if object.facebook %}<p class="specialist_telegram"><span><i class="fab fa-facebook-f"></i></span><a href="{{object.facebook}}">Facebook</a></p>{% endif %}
                        <p class="specialist_phone"><span><i class="fad fa-phone-alt"></i></span><a href="tel:{{object.phone}}">{{object.phone}}</a></p>
                        {% if object.phone2 %}
                        <p class="specialist_phone"><span><i class="fad fa-phone-alt"></i></span><a href="tel:{{object.phone2}}">{{object.phone2}}</a></p>
                        {% endif %}
                        {% if object.phone3 %}
                        <p class="specialist_phone"><span><i class="fad fa-phone-alt"></i></span><a href="tel:{{object.phone3}}">{{object.phone3}}</a></p>
                        {% endif %}
                        <p class="specialist_type">{% trans "Пожалуйста, сообщите, что нашли информацию на TOYPOY.uz" %}</p>
                    </div>
                    <div class="rating">
                        <ul class="rating_options">
                            <li class="rating_option negative_rating"><i class="fad fa-frown"></i><span>{{object.user.get_negative_rate_count}}</span></li>
                            <li class="rating_option neutral_rating"><i class="fad fa-meh"></i><span>{{object.user.get_neutral_rate_count}}</span></li>
                            <li class="rating_option positive_rating"><i class="fad fa-smile"></i><span>{{object.user.get_positive_rate_count}}</span></li>
                        </ul>
                    </div>
                    {% if request.user.is_authenticated and request.user == object.user%}
                    <a href="{% url 'account:change_password' %}" class="change_password"> <span><i class="fad fa-key-skeleton"></i></span> {% trans "Изменить" %} {% trans "пароль" %}</a>
                    {% endif %}
                    {%if request.user.type == 'client'%}
                    <div class="favorite">
                        {% if favorite %}
                        <a href="" class="remove_favorite"><i class="fad fa-heart-square"></i></a>
                        {% else %}
                        <a href="" class="add_favorite"><i class="fad fa-heart-square"></i></a>
                        {% endif %}
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="detail_right">
                    <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{% trans "Профиль" %}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">{% trans "Отзывы" %} <span>({{reviews.count}})</span></button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="specialist_about hidden">
                                {{object.description|safe}}
                            </div>
                            <a href="" class="toggle_about_text hidden">{% trans "Читать больше" %} <span class="arrow"></span></a>
                            <div class="specialist_portfolio">
                                <div class="portfolio_box hidden">
                                <h3 class="subtitle">{% trans "Портфолио" %}</h3>
                                {%if object.user.portfolio%}
                                    <div class="row">
                                         {% for file in object.user.portfolio.files.all %}
                                            <div class="col-6 col-lg-4 mb-4">
                                                {% if file.content_type == 'image' %}
                                                    {% comment %} <a position="{{forloop.counter}}" class="portfolio_img" href="{% url 'services:view_portfolio' object.user.pk %}" style="background: url('{{file.file.url}}')no-repeat center center;background-size: cover;"></a> {% endcomment %}
                                                    <a href="" position="{{forloop.counter}}" class="portfolio_img" style="background: url('{{file.file.url}}')no-repeat center center;background-size: cover;"></a>
                                                {% else %}
                                                <a href="" position="{{forloop.counter}}" class="portfolio_img">
                                                    <video src="{{ file.file.url }}" controls style="object-fit:cover;"></video>
                                                </a>
                                                    {% comment %} <video src="{{ file.file.url }}" controls></video> {% endcomment %}
                                                {% endif %}                                            
                                            </div>
                                        {%endfor%}                    
                                    </div>
                                </div>

                                        {% if request.user.is_authenticated and request.user == object.user%}
                                         <a class="create_portfolio" href="{%url 'services:extend_portfolio'%}">{% trans "Добавить фото/видео" %}</a>
                                         {% comment %} <a class="delete_portfolio" href="{%url 'services:delete_portfolio'%}">{% trans "Удалить портфолио" %}</a> {% endcomment %}
                                         <!-- Button trigger modal -->
                                            <button type="button" class="delete_portfolio" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                {% trans "Удалить портфолио" %}
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Удалить портфолио?" %}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="specialist_about">{% trans "Вы действительно уверены, что хотите удалить весь портфолио без возможности на восстановление?" %}</p>
                                                </div>
                                                <div class="modal-footer flex-nowrap">
                                                    <button type="button" class="create_portfolio" data-bs-dismiss="modal">{% trans "Отмена" %}</button>
                                                    <a class="delete_portfolio" href="{%url 'services:delete_portfolio'%}">{% trans "Удалить портфолио" %}</a>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        
                                        {% comment %} {% if request.user != object.user %} {% endcomment %}
                                            <a class="show_more_btn create_portfolio to_center" href="">{% trans "Смотреть больше" %}</a>
                                        {% comment %} {% endif %} {% endcomment %}
                                            
                                    </div>
    
                                {%else%}
                                    {% if request.user.is_authenticated and request.user == object.user%}
                                        <a class="create_portfolio" href="{%url 'services:create_portfolio'%}">{% trans "Создать портфолио" %}</a>
                                    {% endif %}
    
                                {%endif%}
    
    
                            
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <ul class="review_list w-100">
                                {%for review in reviews%}
                                    <li class="review_box d-flex align-items-center">
                                        {% if review.client_user.clientprofile.avatar %}
                                        <img src="{{review.client_user.clientprofile.avatar.url}}" alt="" width="50" height="50">
                                        {% else %}
                                        <img src="{% static 'media/images/logo_v2.png' %}" alt="" width="50" height="50">
                                        {% endif %}
                                        <span>{{review.client_user}}</span>
                                        <p>{{review.text}}</p>
                                        <ul class="rate_options">
                                            <li class="rate_option negative_rate {% if review.value == 1 %}selected{% endif %}"><i class="fad fa-frown"></i></li>
                                            <li class="rate_option neutral_rate {% if review.value == 2 %}selected{% endif %}"><i class="fad fa-meh"></i></li>
                                            <li class="rate_option positive_rate {% if review.value == 3 %}selected{% endif %}"><i class="fad fa-smile"></i></li>
                                        </ul>
                                    </li>
                                {%endfor%}
                            </ul>
                            {%if request.user.type == 'client'%}
                                {%if not reviewed%}
                                    {%include 'services/_inc/review_form.html'%}
                                {%else%}
                                    <span class="also_reviewed">{% trans "Вы уже писали отзыв" %}</span>
                                {%endif%}
                            {%endif%}
    
                        </div>
                      </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}

{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $('.toggle_about_text').click(function(e){
            e.preventDefault();
            $('.specialist_about').toggleClass('hidden');
            $(this).toggleClass('hidden');
        });
        $('.show_more_btn').click(function(e){
            e.preventDefault();
            $('.portfolio_box').toggleClass('hidden');
        });
        
        $('.review_form .rate_option').click(function(){
            $('.review_form .rate_option').each(function(){
                $(this).removeClass('selected')
            });
            $(this).addClass('selected')
        });


        $('.portfolio_img').click(function(e) {
            e.preventDefault();
            position = $(this).attr('position');
            $('.carousel-item').each(function() {
                $(this).removeClass('active');
            })
            $(".carousel-item[position='" + position + "']").addClass('active');
            var from_top = window.pageYOffset ? window.pageYOffset : document.body.scrollTop;
            $('.zoom_slider').css("top", from_top + 'px');
            $('.zoom_slider').addClass('active');
            $('body').css('overflow', 'hidden');
        });

        $('.slider_close_btn').click(function() {
            $('.zoom_slider').removeClass('active');
            $('body').css('overflow', 'auto');
        });

      $('.form_confirm').click(function(e) {
        e.preventDefault();
        let textarea = $('.review_form textarea')
        var btn = $(this);
        if(textarea.val() != '' && textarea.val() != ' ' && $('.review_form .rate_option.selected').length){
          $.ajax({
          method: "POST",
          url: "{% url 'services:create_review' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "service_user_pk": '{{object.user.pk}}',
              "client_user_pk": '{{request.user.pk}}',
              "text": textarea.val(),
              "rate_value": $('.review_form .rate_option.selected').attr('value')
          },
          success: function(data) {
            if(data['success'] && data['save'])window.location.reload()
            console.log(data)
          },
          error: function(er) {
            console.log(er);
          }
        });
        }
        else alert('Напишите текст отзыва и оценку перед отправкой')
      });
      $('.add_favorite').on('click', function (e){
            e.preventDefault();
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
          data['service_pk'] = {{object.user.pk}};
          $.ajax({
              method: "POST",
              url: "{% url 'favorite:add_to_favorite' %}",
                // dataType: "json",
                data: data,
                success: function(data) {
                console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });
      $('.remove_favorite').on('click', function (e){
            e.preventDefault();
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
            data['service_pk'] = {{object.user.pk}};
            $.ajax({
              method: "POST",
              url: "{% url 'favorite:remove_from_favorite' %}",
                // dataType: "json",
                data: data,
                success: function(data) {
                // console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });
    });
</script>
{% comment %} <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script> {% endcomment %}
{%endblock%}



