{% extends 'services_base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
{% endblock%}

{% block content %}
<div class="container">
    <h1>Каталог свадебных специалистов</h1>
    <div class="catalog">
        <div class="row">
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:photographer_list' %}">
                    <span class="catalog_title">Фотографы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_photographer.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:videographer_list' %}">
                    <span class="catalog_title">Видеографы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_videographer.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:restaurant_list' %}">
                    <span class="catalog_title">Рестораны</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_restaurant.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:artist_list' %}">
                    <span class="catalog_title">Артисты и шоу программы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_artist.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:transport_list' %}">
                    <span class="catalog_title">Транспорт</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_transport.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:music_list' %}">
                    <span class="catalog_title">Музыканты и DJ</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_music.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:presenter_list' %}">
                    <span class="catalog_title">Ведущие</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_presenter.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:registryoffice_list' %}">
                    <span class="catalog_title">ЗАГСы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_registryoffice.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:invitation_list' %}">
                    <span class="catalog_title">Пригласительные</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_invitation.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:cake_list' %}">
                    <span class="catalog_title">Торты</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_cake.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:dress_list' %}">
                    <span class="catalog_title">Платья</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_dress.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:ring_list' %}">
                    <span class="catalog_title">Кольца</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_ring.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:bouquet_list' %}">
                    <span class="catalog_title">Букеты</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_bouquet.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:decor_list' %}">
                    <span class="catalog_title">Оформление и декор</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_decor.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:costume_list' %}">
                    <span class="catalog_title">Костюмы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_costume.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:accessories_list' %}">
                    <span class="catalog_title">Аксессуары</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_accessories.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:stylist_list' %}">
                    <span class="catalog_title">Стилисты и визажисты</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_stylist.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:photostudio_list' %}">
                    <span class="catalog_title">Фотостудии</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_photostudio.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:dance_list' %}">
                    <span class="catalog_title">Танцевальные коллективы</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_dance.jpeg' %}" alt=""></div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-ls-3">
                <a class="catalog_box" href="{% url 'services:agency_list' %}">
                    <span class="catalog_title">Свадебные агенства</span>
                    <div class="catalog_img"><img class="w-100" src="{% static 'media/images/catalog_agency.jpeg' %}" alt=""></div>
                </a>
            </div>
        </div>
    </div>
</div>
{%endblock content%}
