{% extends 'services_base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'slick/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'styles/spec_list.css' %}">
<link href="{% static 'select2/select2.css' %}" rel="stylesheet" />
{% endblock%}
{% block title %}<title>{% trans "Пригласительные" %}</title>{% endblock title %}
{% block content %}
    <section id="TopPlace" style="background: url({% static 'media/images/invitation.jpg' %})no-repeat center center /cover;">
        <div class="container">
            <div class="top_place">
                <div class="top_title">
                    <h1>{% trans 'Пригласительные' %}</h1>
                </div>
                <div class="top_descr">
                    <p>{% trans 'Отдайте предпочтение самому первому впечатлению о Вашей свадьбе' %}</p>
                </div>
                <div class="mobile_filter_btn">
                    <a href="#"><span><i class="fas fa-filter"></i></span> {% trans 'Показать фильтры' %}</a>
                </div>
            </div>
        </div>
    </section>

    <section id="FiltersSection">
        <div class="container">
            <div class='filters_desktop'>
                <a href="{% url 'services:top' %}?service=invitation" class="top10_link">ТОП-10</a>
                <a href="" class="filter_close_btn"><i class="fal fa-times"></i></a>
                <form id="Search" class='search_form' method="GET" action="{% url 'search:search_service' %}">
                    <p class="filter_wrapper">
                        <input type="text" name="name" placeholder="{% trans 'Поиск по названию' %} ...">
                        <input type="hidden" name="service" value="invitation">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </p>
                </form>
                <form id="Filter" method="get">
                    <p class="filter_wrapper">
                        {{filter.form.location}}
                    </p>
                    <button type="submit">{% trans 'Применить' %}</button>
                </form>
            </div>
            <div class='filters_mobile'></div>
        </div>
    </section>
    <div class="container">
        <div class="spec_list">
            {% for object in filter.qs %}
            <a class="spec_box {% if object.is_pro %}is_pro position-relative{% endif %} d-block" href="{{object.get_absolute_url}}">
                {% if object.is_pro %}
                <span class="is_pro_badge">PRO</span>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-2">
                        <div class="left d-flex flex-column align-items-center">
                            {%if object.avatar%}
                            <img src="{{object.avatar.url}}" alt="">
                            {% else %}
                            <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                            {%endif%}
                            <p class="spec_rating"><span>{{object.user.get_calculated_rate}}</span> <br> {% trans "Рейтинг" %}</p>
                            <p class="spec_reviews">{% trans 'Отзывы' %} (<span>{{object.review_count}}</span>)</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="right h-100 d-flex flex-column justify-content-between">
                            <div class="info d-flex align-items-center justify-content-between">
                                <h3 class="spec_fullname">{{object.name}}</h3>
                                {% comment %} <div class="info_right d-flex align-items-center">
                                    <p class="spec_price">{{object.price}} {% trans 'сум' %}</p>
                                </div> {% endcomment %}
                            </div>
                            <div class="spec_portfolio">
                                <div class="row">
                                    {% for file in object.user.portfolio.files.all|slice:'4'%}
                                         <div class="col-3 mt-4">
                                             {% if file.content_type == 'image' %}
                                             <img class="" src="{{file.file.url}}" alt="">
                                            {% endif %}   
                                        </div>
                                    {%endfor%}
    
                                </div>
                            </div>
                            <div class="spec_portfolio_slider">
                                {% for file in object.user.portfolio.files.all|slice:'4'%}
                                 <div class="slide">
                                    {% if file.content_type == 'image' %}
                                        <img class="slide_img" src="{{file.file.url}}" alt="">
                                   {% endif %}   
                                 </div>
                                 {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{%endblock content%}
{%block script%}
<script src="{% static 'select2/select2.js' %}"></script>
 <script>
    $(document).ready(function(){

        $('.spec_portfolio_slider').slick({
            arrows: false,
            slidesToShow: 3,
            centerMode: true,
            centerPadding: '30px',
            slidesToScroll: 2,
            infinite: true,
            speed: 300,
            responsive: [
                {
                breakpoint: 500,
                    settings: {
                        slidesToShow: 2,
                        centerPadding: '15px',
                    }
                },
            ]
        });

        $('.mobile_filter_btn a').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
        $('.filter_close_btn').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });

        $('#id_location').select2({
            placeholder: "{% trans 'Район' %}",
        })
    });
</script>
{%endblock%}