{% extends 'services_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block links %}<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">{% endblock %}
</head>
<body>

</body>
</html>

{% block content %}
{{object.phone}}
{{object.user}}
{{object.user.username}}
{{object.user.type}}
{%if request.user.type == 'client'%}
    <br><br>
    {%if not reviewed%}
        {%include 'services/_inc/review_form.html'%}
    {%else%}
        <span>Вы уже писали отзыв</span>
    {%endif%}
{%endif%}
<!--object.user.service_reviews-->
<br><br>
<p>Отзывы:</p>
<ul>
    {%for review in reviews%}
        <li>{{review.text}}</li>
    {%endfor%}
</ul>
<!--{%if object.user != request.user%}-->
{%include 'services/_inc/rating.html'%}
<!--{%endif%}-->

{% endblock %}
