{% extends 'services_base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/spec_detail.css' %}">
{% endblock %}

{% block title %}<title>{% trans "Стилисты и визажисты" %} {{object.name}}</title>{% endblock title %}
{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="detail_left d-flex flex-column">
                    {%if object.avatar%}
                    <img class="avatar w-100" src="{{object.avatar.url}}" alt="">
                    {% else %}
                    <img class="avatar w-100" src="{% static 'media/images/logo_v2.png' %}" alt="">
                    {%endif%}
                    <div class="info">
                        <h3 class="subtitle">{% trans "Информация" %}</h3>
                        <p class="specialist_fullname">{% if object.name %}
                            {{object.name}} {% else %} {{object.user}} {% endif %}</p>
                        <p class="specialist_type">{% trans "Стились/визажист" %}</p>
                        <p class="specialist_type">{% trans "Адрес" %}: {{object.address}}</p>
                        <p class="specialist_type">{% trans "Тип" %}: {{object.type}}</p>
                        <p class="specialist_type">{% trans "На выезд" %}: 
                        {% if object.on_departure %}
                            {% trans "да" %}
                        {$ else }
                            {% trans "нет" %}
                        {% endif %}
                            </p>
                        <p class="specialist_price">{% trans "Цена" %}: <span>{{object.price}} {% trans "сум" %}</span></p>
                    </div>
                    <div class="contacts">
                        <h3 class="subtitle">{% trans "Контакты" %}</h3>
                        <p class="specialist_telegram"><span><i class="fab fa-telegram-plane"></i></span><a href="">{{object.telegram}}</a></p>
                        <p class="specialist_telegram"><span><i class="fab fa-instagram"></i></span><a href="">{{object.instagram}}</a></p>
                        <p class="specialist_telegram"><span><i class="fab fa-facebook-f"></i></span><a href="">{{object.facebook}}</a></p>
                        <p class="specialist_phone"><span><i class="fad fa-phone-alt"></i></span><a href="phone:{{object.phone}}">{{object.phone}}</a></p>
                    </div>
                    <div class="rating">
                        <ul class="rating_options">
                            <li class="rating_option negative_rating"><i class="fad fa-frown"></i><span>{{object.user.get_negative_rate_count}}</span></li>
                            <li class="rating_option neutral_rating"><i class="fad fa-meh"></i><span>{{object.user.get_neutral_rate_count}}</span></li>
                            <li class="rating_option positive_rating"><i class="fad fa-smile"></i><span>{{object.user.get_positive_rate_count}}</span></li>
                        </ul>
                    </div>
                    {% if request.user.is_authenticated and request.user == object.user%}
                    <a href="{% url 'account:change_password' %}" class="change_password"> <span><i class="fad fa-key-skeleton"></i></span> {% trans "Изменить" %} {% trans "пароль" %}</a>
                    {% endif %}
                    {%if request.user.type == 'client'%}
                    <div class="favorite">
                        {% if favorite %}
                        <a href="" class="remove_favorite"><i class="fad fa-heart-square"></i></a>
                        {% else %}
                        <a href="" class="add_favorite"><i class="fad fa-heart-square"></i></a>
                        {% endif %}
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="detail_right">
                    <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{% trans "Профиль" %}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">{% trans "Отзывы" %} <span>({{reviews.count}})</span></button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="specialist_about hidden">
                                {{object.description|safe}}
                            </div>
                            <a href="" class="toggle_about_text hidden">{% trans "Читать больше" %} <span class="arrow"></span></a>
                            <div class="specialist_portfolio">
                                <h3 class="subtitle">{% trans "Портфолио" %}</h3>
                                {%if object.user.portfolio%}
                                    <div class="row">
                                        {% for image in object.user.portfolio.images.all %}
                                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                                <a href="{{image.image.url}}" style="width: 100%; background: url('{{image.image.url}}')no-repeat center center; background-size: cover; width: 100%; display: block; height: 100%; min-height: 250px; max-height: 300px">
                                                </a>
                                            </div>
                                        {%endfor%}
                                        {% if request.user.is_authenticated and request.user == object.user%}
                                         <a href="{%url 'services:extend_portfolio'%}">{% trans "Увеличить портфолио" %}</a>
                                         <a href="{%url 'services:delete_portfolio'%}">{% trans "Удалить портфолио" %}</a>
                                        {% endif %}
    
                                    </div>
    
                                {%else%}
                                    {% if request.user.is_authenticated and request.user == object.user%}
                                        <a href="{%url 'services:create_portfolio'%}">{% trans "Создать портфолио" %}</a>
                                    {% endif %}
    
                                {%endif%}
    
    
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <ul class="review_list w-100">
                                {%for review in reviews%}
                                    <li class="review_box d-flex align-items-center">
                                        {% if review.client_user.clientprofile.avatar %}
                                        <img src="{{review.client_user.clientprofile.avatar.url}}" alt="" width="50" height="50">
                                        {% else %}
                                        <img src="{% static 'media/images/logo_v2.png' %}" alt="" width="50" height="50">
                                        {% endif %}
                                        <span>{{review.client_user}}</span>
                                        <p>{{review.text}}</p>
                                        <ul class="rate_options">
                                            <li class="rate_option negative_rate {% if review.value == 1 %}selected{% endif %}"><i class="fad fa-frown"></i></li>
                                            <li class="rate_option neutral_rate {% if review.value == 2 %}selected{% endif %}"><i class="fad fa-meh"></i></li>
                                            <li class="rate_option positive_rate {% if review.value == 3 %}selected{% endif %}"><i class="fad fa-smile"></i></li>
                                        </ul>
                                    </li>
                                {%endfor%}
                            </ul>
                            {%if request.user.type == 'client'%}
                                {%if not reviewed%}
                                    {%include 'services/_inc/review_form.html'%}
                                {%else%}
                                    <span class="also_reviewed">{% trans "Вы уже писали отзыв" %}</span>
                                {%endif%}
                            {%endif%}
    
                        </div>
                      </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}

{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $('.review_form .rate_option').click(function(){
            $('.review_form .rate_option').each(function(){
                $(this).removeClass('selected')
            });
            $(this).addClass('selected')
        });


      $('.form_confirm').click(function(e) {
        e.preventDefault();
        let textarea = $('.review_form textarea')
        var btn = $(this);
        if(textarea.val() != '' && textarea.val() != ' ' && $('.review_form .rate_option.selected').length){
          $.ajax({
          method: "POST",
          url: "{% url 'services:create_review' %}",
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}",
              "service_user_pk": '{{object.user.pk}}',
              "client_user_pk": '{{request.user.pk}}',
              "text": textarea.val(),
              "rate_value": $('.review_form .rate_option.selected').attr('value')
          },
          success: function(data) {
            if(data['success'] && data['save'])window.location.reload()
            console.log(data)
          },
          error: function(er) {
            console.log(er);
          }
        });
        }
        else alert('Напишите текст отзыва и оценку перед отправкой')
      });
      $('.add_favorite').on('click', function (e){
            e.preventDefault();
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
          data['service_pk'] = {{object.user.pk}};
          $.ajax({
              method: "POST",
              url: "{% url 'favorite:add_to_favorite' %}",
                // dataType: "json",
                data: data,
                success: function(data) {
                console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });
      $('.remove_favorite').on('click', function (e){
            e.preventDefault();
            let data = {'csrfmiddlewaretoken': "{{ csrf_token }}",}
            data['service_pk'] = {{object.user.pk}};
            $.ajax({
              method: "POST",
              url: "{% url 'favorite:remove_from_favorite' %}",
                // dataType: "json",
                data: data,
                success: function(data) {
                // console.log(data);
                if(data['success'])window.location.reload()
              },
              error: function(er) {
                console.log(er);
                // console.log('22222');
              }
            });
        });
    });
</script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{%endblock%}



