{% extends 'services_base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'slick/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'styles/spec_list.css' %}">
{% endblock%}
{% block title %}<title>{% trans "Видеографы" %}</title>{% endblock title %}
{% block content %}
    <section id="TopPlace" style="background: url({% static 'media/images/videograph.jpg' %})no-repeat center center /cover;">
        <div class="container">
            <div class="top_place">
                <div class="top_title">
                    <h1>{% trans "Видеографы" %}</h1>
                </div>
                <div class="top_descr">
                    <p>{% trans "Сохраните и пересматривайте Вашу свадьбу спустя время снова и снова" %}</p>
                </div>
                <div class="mobile_filter_btn">
                    <a href="#"><span><i class="fas fa-filter"></i></span> {% trans "Показать фильтры" %}</a>
                </div>
            </div>
        </div>
    </section>

    <section id="FiltersSection">
        <div class="container">
            <div class='filters_desktop'>
                <a href="{% url 'services:top' %}?service=videographer" class="top10_link">ТОП-10</a>
                <a href="" class="filter_close_btn"><i class="fal fa-times"></i></a>
                <form id="Search" class='search_form' method="GET" action="{% url 'search:search_service' %}">
                    <p class="filter_wrapper">
                        <input type="text" name="name" placeholder="{% trans "Поиск по имени" %} ...">
                        <input type="hidden" name="service" value="videographer">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </p>
                </form>
                <form id="Filter" method="get">
                    <p class="filter_wrapper">
                        <select name="" id="select_price_range">
                            <option value="-1">{% trans "Стоимость видеосъемки свадьбы" %}</option>
                            <option init='1' value="1">{% trans "до" %} 1.000.000 {% trans "сум" %}</option>
                            <option init='2' value="2">1.000.000-2.000.000 {% trans "сум" %}</option>
                            <option init='3' value="3">2.000.000-3.000.000 {% trans "сум" %}</option>
                            <option init='4' value="4">3.000.000-4.000.000 {% trans "сум" %}</option>
                            <option init='5' value="5">4.000.000-5.000.000 {% trans "сум" %}</option>
                            <option init='6' value="6">{% trans "свыше" %} 5.000.000 {% trans "сум" %}</option>
                        </select>
                        <input type="hidden" name="price_min" id="id_price_0">
                        <input type="hidden" name="price_max" id="id_price_1">
                    </p>
                    <button type="submit">{% trans "Применить" %}</button>
                </form>
            </div>
            <div class='filters_mobile'></div>
        </div>
    </section>

    <div class="container">
        <div class="spec_list">
            {% for object in objs %}
            <a class="spec_box {% if object.is_pro %}is_pro position-relative{% endif %} d-block" href="{{object.get_absolute_url}}">
                {% if object.is_pro %}
                <span class="is_pro_badge">PRO</span>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-2">
                        <div class="left d-flex flex-column align-items-center">
                            {%if object.avatar%}
                            <img src="{{object.avatar.url}}" alt="">
                            {% else %}
                            <img src="{% static 'media/images/logo_v2.png' %}" alt="">
                            {%endif%}
                            <p class="spec_rating"><span>{{object.user.get_calculated_rate}}</span> <br> {% trans "Рейтинг" %}</p>
                            <p class="spec_reviews">{% trans 'Отзывы' %} (<span>{{object.review_count}}</span>)</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="right h-100 d-flex flex-column justify-content-between">
                            <div class="info d-flex align-items-center justify-content-between">
                                <h3 class="spec_fullname">{{object.name}}</h3>
                                <div class="info_right d-flex align-items-center">
                                    <p class="spec_price">{{object.price}} {% trans "сум" %}</p>
                                    <span> | </span>
                                    <p class="spec_price">{{object.price_per_hour}} {% trans "сум/час" %}</p>
                                </div>
                            </div>
                            <div class="spec_portfolio">
                                <div class="row">
                                    {% for image in object.user.portfolio.images.all|slice:'4'%}
                                         <div class="col-3 mt-4">
                                            <img class="" src="{{image.image.url}}" alt="">
                                        </div>
                                    {%endfor%}
    
                                </div>
                            </div>
                            <div class="spec_portfolio_slider">
                                 {% for image in object.user.portfolio.images.all|slice:'4'%}
                                         <div class="slide">
                                            <img class="slide_img" src="{{image.image.url}}" alt="">
                                        </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{%endblock content%}
{%block script%}
 <script>
    $(document).ready(function(){
        let price_range = '{{filter.form.price.value}}'.replace(new RegExp("&"+"#"+"x27;", "g"), "").slice(1, -1).split(", ");

        $('#select_price_range option[selected="selected"]').each(
            function() {
                $(this).removeAttr('selected');
            }
        );

        if(!price_range[0] && price_range[1] == 1000000){
            $('#select_price_range option[init="1"]').attr('selected','selected');
            $('#id_price_0').val('');
            $('#id_price_1').val('1000000');
        }
        if(price_range[0] == 1000000 && price_range[1] == 2000000){
            $('#select_price_range option[init="2"]').attr('selected','selected');
            $('#id_price_0').val('1000000');
            $('#id_price_1').val('2000000');
        }
        if(price_range[0] == 2000000 && price_range[1] == 3000000){
            $('#select_price_range option[init="3"]').attr('selected','selected');
            $('#id_price_0').val('2000000');
            $('#id_price_1').val('3000000');
        }
        if(price_range[0] == 3000000 && price_range[1] == 4000000){
            $('#select_price_range option[init="4"]').attr('selected','selected');
            $('#id_price_0').val('3000000');
            $('#id_price_1').val('4000000');
        }
        if(price_range[0] == 4000000 && price_range[1] == 5000000){
            $('#select_price_range option[init="5"]').attr('selected','selected');
            $('#id_price_0').val('4000000');
            $('#id_price_1').val('5000000');
        }
        if(price_range[0] == 5000000 && !price_range[1]){
            $('#select_price_range option[init="6"]').attr('selected','selected');
            $('#id_price_0').val('5000000');
            $('#id_price_1').val('');
        }

        $('#select_price_range').on('change', function(){
            if($(this).val() == '-1'){
                $('#id_price_0').val('');
                $('#id_price_1').val('');
            }
            else if($(this).val() == '1'){
                $('#id_price_0').val('');
                $('#id_price_1').val('1000000');
            }
            else if($(this).val() == '2'){
                $('#id_price_0').val('1000000');
                $('#id_price_1').val('2000000');
            }
            else if($(this).val() == '3'){
                $('#id_price_0').val('2000000');
                $('#id_price_1').val('3000000');
            }
            else if($(this).val() == '4'){
                $('#id_price_0').val('3000000');
                $('#id_price_1').val('4000000');
            }
            else if($(this).val() == '5'){
                $('#id_price_0').val('4000000');
                $('#id_price_1').val('5000000');
            }
            else if($(this).val() == '6'){
                $('#id_price_0').val('5000000');
                $('#id_price_1').val('');
            }
        });

        $('.spec_portfolio_slider').slick({
            arrows: false,
            slidesToShow: 3,
            centerMode: true,
            centerPadding: '30px',
            slidesToScroll: 2,
            infinite: true,
            speed: 300,
            responsive: [
                {
                breakpoint: 500,
                    settings: {
                        slidesToShow: 2,
                        centerPadding: '15px',
                    }
                },
            ]
        });

        $('.mobile_filter_btn a').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });
        $('.filter_close_btn').on('click', function(e){
            e.preventDefault();
            $('.filters_desktop').toggleClass('open');
            if($('.filters_desktop').hasClass('open')) $('body').css('overflow', 'hidden');
            else $('body').css('overflow', 'auto');
        });

    });
</script>
{%endblock%}